// Base variables and mixins
@import '../../styles/common';

// Theme variables

@active: #999;
@background: #ffffff;

@progressive: #347bff;
@progressive-selected: #2962cc;

@constructive: #00af89;
@constructive-selected: #008c6d;

@destructive: #d11d13;
@destructive-selected: #a7170f;

@text: #555555;
@pressed-text: #444444;
@pressed-color: #d0d0d0; // Used for borders and backgrounds
@disabled-text: #cccccc;
@disabled-framed-text: #ffffff;
@disabled-background: #dddddd;

@neutral-button-border: 1px solid #cdcdcd;

@oo-ui-default-image-path: 'themes/mediawiki/images';

@input-border-color: #777;
@input-active-color: #ddd;
@input-disabled-color: #eee;
@input-hover-border-bottom-width: 3px;
@input-focus-border-width: 2px;
@input-size: 1.6em;
@border-radius: 2px;

@icon-size: unit(24 / 16 / 0.8, em);
@indicator-size: unit(12 / 16 / 0.8, em);

// Theme animation variables
@quick-ease: 0.1s ease-in-out;
@medium-ease-out-back: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

// Theme mixins

// Workaround for Safari 8 bug. Combining a selector like `input[type="checkbox"]:checked + span`
// with transition on background-size, background-color, and a single background-image using SVG
// causes the selector to sometimes not be applied. (T89309)
//
// * Syntax mimics the core mixin .oo-ui-background-image-svg().
// * No-op in distributions other than 'vector'.
// * Using -webkit- prefix to limit this stupidity from impacting other browsers. Alas, some
//   non-Safari ones also parse the -webkit- prefix (Chrome, Opera).
// * We take the payload size hit of the unnecessary /* @embed */ hint across the board. It should
//   be mostly mitigated by using gzip compression.
// * Upstream bug report: https://bugs.webkit.org/show_bug.cgi?id=141789
.oo-ui-background-image-safari( @url-without-extension ) when ( @oo-ui-distribution = vector ) {
	@svg: '@{url-without-extension}.svg';
	background-image: -webkit-linear-gradient(transparent, transparent), e('/* @embed */') url(@svg);
}
