@import 'common';

.theme-oo-ui-element () {}

.theme-oo-ui-buttonElement () {
	> .oo-ui-buttonElement-button {
		font-weight: bold;
		text-decoration: none;

		&:focus {
			outline: 0;
		}
	}

	&.oo-ui-iconElement > .oo-ui-buttonElement-button {
		> .oo-ui-iconElement-icon {
			margin-left: 0;
		}

		> .oo-ui-indicatorElement-indicator {
			margin-left: @size-indicator / 2;
		}
	}

	&-frameless {
		> .oo-ui-buttonElement-button {
			.oo-ui-indicatorElement-indicator {
				margin-right: 0;
			}
		}

		&.oo-ui-labelElement {
			> .oo-ui-buttonElement-button {
				> .oo-ui-labelElement-label {
					margin-left: 0.25em;
					margin-right: 0.25em;
				}
			}
		}

		// Support <input/> from ButtonInputWidget
		> input.oo-ui-buttonElement-button {
			padding-left: 0.25em;
			padding-right: 0.25em;
			color: #333;
		}

		&.oo-ui-widget-enabled {
			> .oo-ui-buttonElement-button {
				&:focus {
					box-shadow: @box-shadow-focus-default, 0 0 0 1px @color-progressive-focus;
				}
			}

			> input.oo-ui-buttonElement-button,
			> .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				color: @color-default;
			}

			&.oo-ui-buttonElement-pressed > input.oo-ui-buttonElement-button,
			&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				color: @color-default-pressed;
			}

			&.oo-ui-flaggedElement {
				&-progressive {
					.mw-frameless-button-colored( @color-progressive, @color-progressive-hover, @color-progressive-active, @color-progressive-focus );
				}

				// Deprecated in 0.16.1, see T110555
				&-constructive {
					.mw-frameless-button-colored( @color-progressive, @color-progressive-hover, @color-progressive-active, @color-progressive-focus );
				}

				&-destructive {
					.mw-frameless-button-colored( @color-destructive, @color-destructive-hover, @color-destructive-active, @color-destructive-focus );
				}
			}
		}

		&.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
			color: @color-disabled;

			> .oo-ui-iconElement-icon,
			> .oo-ui-indicatorElement-indicator {
				opacity: @opacity-disabled;
			}
		}
	}

	&-framed {
		&.oo-ui-iconElement.oo-ui-labelElement,
		&.oo-ui-iconElement.oo-ui-indicatorElement {
			> .oo-ui-buttonElement-button {
				padding-left: 2.4em;
			}
		}

		> .oo-ui-buttonElement-button {
			padding: 0.5em 1em;
			min-height: 1.2em;
			min-width: 1em;
			border-radius: @border-radius-default;
			position: relative;
			.oo-ui-transition(
				background @transition-ease-quick,
				color @transition-ease-quick,
				border-color @transition-ease-quick,
				box-shadow @transition-ease-quick
			);
		}

		// Support <input/> from ButtonInputWidget
		> input.oo-ui-buttonElement-button,
		&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			line-height: 1.2em;
		}

		&.oo-ui-iconElement {
			> .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
				position: absolute;
				top: 0.2em;
				// This centers the icon in icon-only buttons
				left: 1.5em - @size-icon / 2;
			}

			&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				margin-left: 0.3em;
			}
		}

		&.oo-ui-indicatorElement {
			&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,
			&.oo-ui-iconElement:not( .oo-ui-labelElement ) > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator {
				margin-left: @size-indicator / 2;
				margin-right: -0.275em;
			}

			&.oo-ui-labelElement {
				> .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator {
					position: relative;
					left: 0.2em;
				}
			}
		}

		&.oo-ui-widget-disabled {
			& > .oo-ui-buttonElement-button {
				background-color: @background-color-filled-disabled;
				color: @color-disabled-framed;
				border: 1px solid @border-color-disabled;
			}

			& + .oo-ui-widget-disabled {
				& > .oo-ui-buttonElement-button {
					border-left-color: @color-disabled-framed;
				}
			}
		}

		&.oo-ui-widget-enabled {
			& > .oo-ui-buttonElement-button {
				color: @color-default;
				background-color: @background-color-default;
				border: @border-default;

				&:hover {
					background-color: darken( @background-color-default, 8% );
				}

				&:focus {
					border-color: @color-progressive-focus;
					box-shadow: @box-shadow-focus-default;
				}
			}

			& > .oo-ui-buttonElement-button:active,
			&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
				background-color: darken( @background-color-default, 15% );
				border-color: darken( @background-color-default, 15% );
				box-shadow: none;
			}

			&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
				background-color: @background-color-active;
				color: @color-default-light;
			}

			&.oo-ui-flaggedElement {
				&-progressive {
					.mw-framed-button-colored( @color-progressive, @color-progressive-fade, @color-progressive-active, @border-color-progressive-active, @color-progressive-focus );
				}

				// Deprecated in 0.16.1
				&-constructive {
					.mw-framed-button-colored( @color-progressive, @color-progressive-fade, @color-progressive-active, @border-color-progressive-active, @color-progressive-focus );
				}

				&-destructive {
					.mw-framed-button-colored( @color-destructive, @color-destructive-fade, @color-destructive-active, @border-color-destructive-active, @color-destructive-focus );
				}
			}
			&.oo-ui-flaggedElement-primary.oo-ui-flaggedElement {
				&-progressive {
					.mw-framed-primary-button-colored( @color-progressive, @color-progressive-hover, @color-progressive-active, @color-progressive-focus );
				}

				// Deprecated in 0.16.1
				&-constructive {
					.mw-framed-primary-button-colored( @color-progressive, @color-progressive-hover, @color-progressive-active, @color-progressive-focus );
				}

				&-destructive {
					.mw-framed-primary-button-colored( @color-destructive, @color-destructive-hover, @color-destructive-active, @color-destructive-focus );
				}
			}
		}
	}
}

.mw-frameless-button-colored( @link, @hover, @active, @focus ) { // following CSS Pseudo Classes
	> .oo-ui-buttonElement-button {
		> .oo-ui-labelElement-label {
			color: @link;
		}
	}

	&.oo-ui-widget-enabled {
		& > .oo-ui-buttonElement-button:hover {
			> .oo-ui-labelElement-label {
				color: @hover;
			}
		}

		& > .oo-ui-buttonElement-button:active > .oo-ui-labelElement-label,
		&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			color: @active;
			box-shadow: none;
		}
	}
}

.mw-framed-button-colored( @link, @hover, @active, @border-color-active, @focus ) {
	> .oo-ui-buttonElement-button {
		color: @link;
	}

	&.oo-ui-widget-enabled {
		> .oo-ui-buttonElement-button:hover {
			background-color: @hover;
			border-color: @border-color-active;
		}

		> .oo-ui-buttonElement-button:active,
		&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
			color: @active;
			border-color: @active;
			box-shadow: none;
		}

		&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
			background-color: @background-color-active;
			color: @color-default-light;
		}

		> .oo-ui-buttonElement-button:focus {
			border-color: @focus;
			box-shadow: inset 0 0 0 1px @focus;
		}
	}
}

.mw-framed-primary-button-colored( @link, @hover, @active, @focus ) {
	> .oo-ui-buttonElement-button {
		color: @color-default-light;
		background-color: @link;
		border-color: @link;
	}

	&.oo-ui-widget-enabled {
		> .oo-ui-buttonElement-button:hover {
			background-color: @hover;
			border-color: @hover;
		}

		> .oo-ui-buttonElement-button:active,
		&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
			color: @color-default-light;
			background-color: @active;
			border-color: @active;
			box-shadow: none;
		}

		&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
			background-color: @background-color-active;
			color: @color-default-light;
		}

		> .oo-ui-buttonElement-button:focus {
			border-color: @focus;
			box-shadow: inset 0 0 0 1px @focus, inset 0 0 0 2px @color-default-light;
		}
	}
}

.theme-oo-ui-clippableElement () {}

.theme-oo-ui-floatableElement () {}

.theme-oo-ui-flaggedElement () {}

.theme-oo-ui-draggableElement () {}

.theme-oo-ui-groupElement () {}

.theme-oo-ui-draggableGroupElement () {}

.theme-oo-ui-iconElement () {}

.theme-oo-ui-indicatorElement () {}

.theme-oo-ui-labelElement () {
	.oo-ui-labelElement-label-highlight {
		font-weight: bold;
	}
}

.theme-oo-ui-lookupElement () {}

.theme-oo-ui-popupElement () {}

.theme-oo-ui-tabIndexedElement () {}

.theme-oo-ui-titledElement () {}

.theme-oo-ui-pendingElement () {
	&-pending {
		.oo-ui-background-image( '@{oo-ui-default-image-path}/textures/pending.gif' );
	}
}
