@import 'common';

.theme-oo-ui-buttonElement () {
	> .oo-ui-buttonElement-button {
		font-weight: bold;

		> .oo-ui-iconElement-icon {
			margin-left: 0;
		}

		> .oo-ui-indicatorElement-indicator {
			margin-right: -0.75em;
			margin-left: -0.75em;
		}
	}

	&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,
	&.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator {
		margin-left: 0;
	}

	&.oo-ui-indicatorElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,
	&.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
		width: 2.2em;
		height: 2.2em;
	}

	&.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
		> .oo-ui-iconElement-icon,
		> .oo-ui-indicatorElement-indicator {
			opacity: 0.2;
		}

		> .oo-ui-labelElement-label {
			color: @disabled-text;
		}
	}

	&-frameless {
		> .oo-ui-buttonElement-button {
			&:hover,
			&:focus {
				outline: none;
			}
		}

		&.oo-ui-labelElement {
			> .oo-ui-buttonElement-button {
				> .oo-ui-labelElement-label {
					margin-left: 0.25em;
				}
			}
		}

		&.oo-ui-widget-enabled {
			> .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				color: @text;
			}

			&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button > .oo-ui-labelElement-label,
			&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				color: @active-text;
			}

			&.oo-ui-flaggedElement {
				&-progressive {
					.mediawiki-frameless-button-colored(@progressive, @progressive-selected);
				}

				&-constructive {
					.mediawiki-frameless-button-colored(@constructive, @constructive-selected);
				}

				&-destructive {
					.mediawiki-frameless-button-colored(@destructive, @destructive-selected);
				}
			}
		}
	}

	&-framed {
		> .oo-ui-buttonElement-button {
			margin: 0.1em 0;
			padding: 0.3em 1.2em;
			border-radius: @border-radius;

			&:hover,
			&:focus {
				outline: none;
			}

			.oo-ui-transition(
				background 0.1s ease-in-out,
				color 0.1s ease-in-out,
				box-shadow 0.1s ease-in-out
			);
		}

		// Support <input/> from ButtonInputWidget
		> input.oo-ui-buttonElement-button,
		> .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			line-height: 2.2em;
		}

		&.oo-ui-iconElement {
			> .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
				margin-left: -0.5em;
				margin-right: -0.5em;
			}

			&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
				margin-left: -0.5em;
				margin-right: 0.3em;
			}
		}

		&.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
			color: @disabled-text;
			background: @background;
			border: @disabled-button-border;
		}

		&.oo-ui-widget-enabled {
			> .oo-ui-buttonElement-button {
				color: @text;
				background-color: @background;
				border: @disabled-button-border;

				&:hover,
				&:focus {
					box-shadow: inset 0 -0.2em 0 0 rgba(0,0,0,0.2), 0 0.1em 0 0 rgba(0,0,0,0.2);
					border-color: #aaa;
				}
			}

			& > .oo-ui-buttonElement-button:active,
			&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,
			&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
				background-color: @active-color;
				border-color: @active-color;
			}

			&.oo-ui-flaggedElement {
				&-progressive {
					.mediawiki-framed-button-colored(@progressive-fill, @progressive-fill-selected);
				}

				&-constructive {
					.mediawiki-framed-button-colored(@constructive-fill, @constructive-fill-selected);
				}

				&-destructive {
					.mediawiki-framed-button-colored(@destructive-fill, @destructive-fill-selected);
				}
			}
			&.oo-ui-flaggedElement-primary.oo-ui-flaggedElement {
				&-progressive {
					.mediawiki-framed-primary-button-colored(@progressive-fill, @progressive-fill-selected);
				}

				&-constructive {
					.mediawiki-framed-primary-button-colored(@constructive-fill, @constructive-fill-selected);
				}

				&-destructive {
					.mediawiki-framed-primary-button-colored(@destructive-fill, @destructive-fill-selected);
				}
			}
		}
	}
}

.mediawiki-frameless-button-colored( @neutral, @active ) {
	> .oo-ui-buttonElement-button {
		&:hover,
		&:focus {
			> .oo-ui-labelElement-label {
				color: @neutral;
			}
		}

		> .oo-ui-labelElement-label {
			color: #777777;
		}
	}

	&.oo-ui-widget-enabled {
		& > .oo-ui-buttonElement-button:active > .oo-ui-labelElement-label,
		&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button > .oo-ui-labelElement-label,
		&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			color: @active;
		}
	}
}

.mediawiki-framed-button-colored( @neutral, @active ) {
	> .oo-ui-buttonElement-button {
		color: @neutral;

		&:hover,
		&:focus {
			box-shadow: inset 0 -0.2em 0 0 @active, 0 0.1em 0 0 rgba(0,0,0,0.1);
			border-bottom-color: @active;
		}
	}
}

.mediawiki-framed-primary-button-colored( @neutral, @active ) {
	> .oo-ui-buttonElement-button {
		text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
		color: @background;
		background-color: @neutral;
		border-color: @neutral;

		&:hover,
		&:focus {
			box-shadow: inset 0 -0.2em 0 0 @active, 0 0.1em 0 0 rgba(0,0,0,0.1);
			border-bottom-color: @active;
		}
	}

	&.oo-ui-widget-enabled {
		.oo-ui-buttonElement-button:active,
		&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,
		&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
			background-color: @active;
		}
	}
}

.theme-oo-ui-clippableElement () {}

.theme-oo-ui-flaggedElement () {}

.theme-oo-ui-draggableElement () {}

.theme-oo-ui-groupElement () {}

.theme-oo-ui-draggableGroupElement () {}

.theme-oo-ui-iconElement () {}

.theme-oo-ui-indicatorElement () {}

.theme-oo-ui-labelElement () {}

.theme-oo-ui-popupElement () {}

.theme-oo-ui-titledElement () {}
