@import 'common';

.theme-oo-ui-widget () {}

.theme-oo-ui-outlineControlsWidget () {
	height: 3em;
	background-color: @background-color-default;

	&-items,
	&-movers {
		height: 2em;
		margin: 0.5em 0.5em 0.5em 0;
		padding: 0;
	}

	> .oo-ui-iconElement-icon {
		width: 1.5em;
		height: 2em;
		margin: 0.5em 0 0.5em 0.5em;
		opacity: 0.2;
	}
}

.theme-oo-ui-toggleWidget () {}

.theme-oo-ui-buttonGroupWidget () {
	display: inline-block;
	white-space: nowrap;
	border-radius: @border-radius-default;

	.oo-ui-inline-spacing(0.5em);
	.oo-ui-buttonElement {
		.oo-ui-inline-spacing(0);
	}

	.oo-ui-buttonElement-framed {
		.oo-ui-buttonElement-button {
			border-radius: 0;
			margin-left: -1px;
		}

		&:first-child .oo-ui-buttonElement-button {
			border-bottom-left-radius: @border-radius-default;
			border-top-left-radius: @border-radius-default;
			margin-left: 0;
		}

		&:last-child .oo-ui-buttonElement-button {
			border-bottom-right-radius: @border-radius-default;
			border-top-right-radius: @border-radius-default;
		}
	}
}

.theme-oo-ui-buttonWidget () {
	.oo-ui-inline-spacing(0.5em);
}

.theme-oo-ui-actionWidget () {}

.theme-oo-ui-popupButtonWidget () {
	&.oo-ui-buttonElement-frameless > .oo-ui-popupWidget {
		// Compensate for icon being inset
		/* @noflip */
		left: 1em;
	}

	&.oo-ui-buttonElement-framed > .oo-ui-popupWidget {
		// Compensate for icon being inset
		/* @noflip */
		left: 1.75em;
	}
}

.theme-oo-ui-toggleButtonWidget () {
	.oo-ui-inline-spacing(0.5em);
}

.theme-oo-ui-iconWidget () {
	line-height: 2.5em;
	width: @size-icon;
	height: @size-icon;

	&.oo-ui-widget-disabled {
		opacity: @opacity-disabled;
	}
}

.theme-oo-ui-indicatorWidget () {
	line-height: 2.5em;
	width: @size-indicator;
	height: @size-indicator;
	margin: @size-indicator / 2;

	&.oo-ui-widget-disabled {
		opacity: @opacity-disabled;
	}
}

.theme-oo-ui-dropdownWidget () {
	width: 100%;
	max-width: 50em;
	background-color: @background-color-default;

	.oo-ui-inline-spacing(0.5em);

	&-handle {
		padding: 0.5em 0;
		height: 2.275em;
		line-height: 1.275;
		border: 1px solid #ccc;
		border-radius: @border-radius-default;

		.oo-ui-indicatorElement-indicator {
			right: 0;
		}

		.oo-ui-iconElement-icon {
			left: 0.25em;
		}

		.oo-ui-labelElement-label {
			line-height: 1.275em;
			margin: 0 1em;
		}

		.oo-ui-indicatorElement-indicator {
			top: 0;
			width: @size-indicator;
			height: @size-indicator;
			margin: 0.775em;
		}

		.oo-ui-iconElement-icon {
			top: 0;
			width: @size-icon;
			height: @size-icon;
			margin: 0.3em;
		}
	}

	&:hover .oo-ui-dropdownWidget-handle {
		border-color: #aaa;
	}

	&.oo-ui-widget-disabled {
		.oo-ui-dropdownWidget-handle {
			color: @color-disabled;
			text-shadow: @text-shadow-disabled;
			border-color: @border-color-disabled;
			background-color: @background-color-disabled;

			&:focus {
				outline: 0;
			}
		}
		.oo-ui-indicatorElement-indicator {
			opacity: @opacity-disabled;
		}
	}

	&.oo-ui-iconElement .oo-ui-dropdownWidget-handle .oo-ui-labelElement-label {
		margin-left: 3em;
	}

	&.oo-ui-indicatorElement .oo-ui-dropdownWidget-handle .oo-ui-labelElement-label {
		margin-right: 2em;
	}

	.oo-ui-selectWidget {
		border-top-color: #fff;
	}
}

.theme-oo-ui-selectFileWidget () {
	width: 100%;
	max-width: 50em;

	.oo-ui-inline-spacing(0.5em);

	&-selectButton {
		> .oo-ui-buttonElement-button {
			margin-left: 0.5em;
		}
	}

	&-info {
		height: 2.4em;
		background-color: @background-color-default;
		border: 1px solid #ccc;
		border-radius: @border-radius-default;

		> .oo-ui-indicatorElement-indicator {
			right: 0;
		}

		> .oo-ui-iconElement-icon {
			left: 0;
		}

		> .oo-ui-selectFileWidget-label {
			line-height: 2.3em;
			margin: 0;
			overflow: hidden;
			white-space: nowrap;
			.oo-ui-box-sizing( border-box );
			text-overflow: ellipsis;
			left: 0.5em;
			right: 0.5em;

			> .oo-ui-selectFileWidget-fileType {
				color: #888;
			}
		}

		> .oo-ui-selectFileWidget-clearButton {
			top: 0;
			width: @size-icon;
			margin-right: 0;
			.oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
				height: 2.3em;
			}
		}

		> .oo-ui-indicatorElement-indicator {
			top: 0;
			width: @size-indicator;
			height: 2.3em;
			margin-right: 0.775em;
		}

		> .oo-ui-iconElement-icon {
			top: 0;
			width: @size-icon;
			height: 2.3em;
			margin-left: 0.5em;
		}
	}

	&.oo-ui-widget-disabled {
		.oo-ui-selectFileWidget-info {
			color: @color-disabled;
			text-shadow: @text-shadow-disabled;
			border-color: @border-color-disabled;
			background-color: @background-color-disabled;

			> .oo-ui-iconElement-icon,
			> .oo-ui-indicatorElement-indicator {
				opacity: @opacity-disabled;
			}
		}
	}

	&-empty {
		.oo-ui-selectFileWidget-label {
			color: @color-disabled;
		}
	}

	&.oo-ui-iconElement .oo-ui-selectFileWidget-info {
		.oo-ui-selectFileWidget-label {
			left: @size-icon + 1em;
		}
	}

	// With close, no indicator:
	& .oo-ui-selectFileWidget-info {
		.oo-ui-selectFileWidget-label {
			right: @size-icon + 0.5em;
		}

		.oo-ui-selectFileWidget-clearButton {
			right: 0;
		}
	}

	// With close, with indicator:
	&.oo-ui-indicatorElement .oo-ui-selectFileWidget-info {
		.oo-ui-selectFileWidget-label {
			right: @size-indicator + 1.55em - 0.4em + @size-icon + 0.5em;
		}

		.oo-ui-selectFileWidget-clearButton {
			right: @size-indicator + 1.55em - 0.4em;
		}
	}

	// No close, no indicator:
	&-empty, &-notsupported {
		.oo-ui-selectFileWidget-info {
			.oo-ui-selectFileWidget-label {
				right: 0.5em;
			}
		}
	}

	// No close, with indicator:
	&-empty.oo-ui-indicatorElement, &-notsupported.oo-ui-indicatorElement {
		.oo-ui-selectFileWidget-info {
			.oo-ui-selectFileWidget-label {
				right: 2em;
			}
		}
	}

	&-dropTarget {
		line-height: 3.5em;
		background-color: @background-color-default;
		border: 1px dashed #ccc;
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
		text-align: center;
		vertical-align: middle;
	}

	&-supported.oo-ui-widget-enabled {
		.oo-ui-selectFileWidget-dropTarget:hover {
			background-color: #eee;
		}

		&.oo-ui-selectFileWidget-canDrop .oo-ui-selectFileWidget-dropTarget {
			background: @progressive-fade;
		}
	}

	&.oo-ui-widget-disabled,
	&-notsupported {
		.oo-ui-selectFileWidget-dropTarget {
			color: @color-disabled;
			text-shadow: @text-shadow-disabled;
			border-color: @border-color-disabled;
			background-color: @background-color-disabled;
		}
	}
}

.theme-oo-ui-inputWidget () {
	.oo-ui-inline-spacing(0.5em);
}

.theme-oo-ui-buttonInputWidget () {}

.theme-oo-ui-checkboxInputWidget () {
	position: relative;
	line-height: @input-size;
	// Prevent the fake span from jumping to the next line of text
	white-space: nowrap;

	* {
		font: inherit;
		vertical-align: middle;
	}

	// This input element is visually replaced by the the span that follows
	input[type="checkbox"] {
		// Use opacity so that VoiceOver software can still identify it
		opacity: 0;
		// Render "on top of" the span, so that it's still clickable
		z-index: 1;
		position: relative;
		cursor: pointer;

		// Having margin would offset the input from where the span is absolutely positioned,
		// making only the overlap region receive events
		margin: 0;

		// Ensure the invisible input takes up the required width
		width: @input-size;
		height: @input-size;

		// Needed for Firefox mobile (See bug 71750 to workaround default Firefox stylesheet)
		max-width: none;

		& + span {
			.oo-ui-transition( background-size @transition-ease-out-back-medium );
			.oo-ui-box-sizing( border-box );
			position: absolute;
			left: 0;
			border-radius: @border-radius-default;
			width: @input-size;
			height: @input-size;
			background-color: white;
			border: 1px solid @input-border-color;
			.oo-ui-background-image-svg('@{oo-ui-default-image-path}/icons/check-constructive');
			.oo-ui-background-image-safari('@{oo-ui-default-image-path}/icons/check-constructive');
			background-repeat: no-repeat;
			background-position: center center;
			background-origin: border-box;
			background-size: 0 0;
		}

		&:checked + span  {
			background-size: 100% 100%;
		}

		&:active + span {
			background-color: @input-active-color;
			border-color: @input-active-color;
		}

		&:focus + span {
			border-width: @input-focus-border-width;
		}

		&:focus:hover + span,
		&:hover + span {
			border-bottom-width: @input-hover-border-bottom-width;
		}

		&:disabled {
			cursor: default;
		}

		&:disabled + span {
			background-color: @background-color-filled-disabled;
			border-color: @border-color-disabled;
		}

		&:disabled:checked + span {
			.oo-ui-background-image-svg('@{oo-ui-default-image-path}/icons/check-invert');
			.oo-ui-background-image-safari('@{oo-ui-default-image-path}/icons/check-invert');
		}
	}
}

.theme-oo-ui-dropdownInputWidget () {
	width: 100%;
	max-width: 50em;

	select {
		background-color: @background-color-default;
		height: 2.275em;
		font-size: inherit;
		font-family: inherit;
		.oo-ui-box-sizing(border-box);
		border: 1px solid #ccc;
		border-radius: @border-radius-default;
		padding-left: 1em;
		vertical-align: middle;
	}

	&.oo-ui-widget-enabled {
		select:hover,
		select:focus {
			border-color: #aaa;
			outline: none;
		}
	}

	&.oo-ui-widget-disabled {
		select {
			color: @color-disabled;
			border-color: @border-color-disabled;
			background-color: @background-color-disabled;
		}
	}
}

.theme-oo-ui-radioInputWidget () {
	position: relative;
	line-height: @input-size;
	// Prevent the fake span from jumping to the next line of text
	white-space: nowrap;

	* {
		font: inherit;
		vertical-align: middle;
	}

	// This input element is visually replaced by the the span that follows
	input[type="radio"] {
		// Use opacity so that VoiceOver software can still identify it
		opacity: 0;
		// Render "on top of" the span, so that it's still clickable
		z-index: 1;
		position: relative;
		cursor: pointer;

		// Having margin would offset the input from where the span is absolutely positioned,
		// making only the overlap region receive events
		margin: 0;

		// Ensure the invisible input takes up the required width
		width: @input-size;
		height: @input-size;

		// Needed for Firefox mobile (See bug 71750 to workaround default Firefox stylesheet)
		max-width: none;

		& + span {
			.oo-ui-transition( background-size @transition-ease-out-back-medium );
			.oo-ui-box-sizing(border-box);
			position: absolute;
			left: 0;
			border-radius: 100%;
			width: @input-size;
			height: @input-size;
			background: white;
			border: 1px solid @input-border-color;
			.oo-ui-background-image-svg('@{oo-ui-default-image-path}/icons/circle-constructive');
			.oo-ui-background-image-safari('@{oo-ui-default-image-path}/icons/circle-constructive');
			background-repeat: no-repeat;
			background-position: center center;
			background-origin: border-box;
			background-size: 0 0;
		}

		&:checked + span  {
			background-size: 100% 100%;
		}

		&:active + span {
			background-color: @input-active-color;
			border-color: @input-active-color;
		}

		&:focus + span {
			border-width: @input-focus-border-width;
		}

		&:focus:hover + span,
		&:hover + span {
			border-bottom-width: @input-hover-border-bottom-width;
		}

		&:disabled {
			cursor: default;
		}

		&:disabled + span {
			background-color: @background-color-filled-disabled;
			border-color: @border-color-disabled;
		}

		&:disabled:checked + span {
			.oo-ui-background-image-svg('@{oo-ui-default-image-path}/icons/circle-invert');
			.oo-ui-background-image-safari('@{oo-ui-default-image-path}/icons/circle-invert');
		}
	}
}

.theme-oo-ui-radioSelectInputWidget () {
	.oo-ui-fieldLayout {
		margin-bottom: 0;
	}
}

.theme-oo-ui-textInputWidget () {
	width: 100%;
	max-width: 50em;

	input,
	textarea {
		padding: 0.5em;
		line-height: 1.275em;
		margin: 0;
		font-size: inherit;
		font-family: inherit;
		background-color: @background-color-default;
		color: @color-emphasized;
		border: 1px solid #ccc;
		box-shadow: inset 0 0 0 0 @progressive;
		border-radius: @border-radius-default;
		.oo-ui-transition( box-shadow @transition-ease-quick );
		.oo-ui-box-sizing(border-box);

		&.oo-ui-pendingElement-pending {
			background-color: transparent;
		}
	}

	&.oo-ui-widget-enabled {
		input,
		textarea {
			.oo-ui-transition(
				border @transition-ease-out-sine-medium,
				box-shadow @transition-ease-out-sine-medium
			);
		}

		input:focus,
		textarea:focus {
			outline: none;
			border-color: @progressive;
			box-shadow: inset 0 0 0 0.1em @progressive;
		}

		input[readonly],
		textarea[readonly] {
			color: #777;
			text-shadow: @text-shadow-default;

			&:focus {
				border-color: #ccc;
				box-shadow: inset 0 0 0 0.1em #ccc;
			}
		}

		&.oo-ui-flaggedElement-invalid {
			input,
			textarea {
				border-color: @color-invalid;
				box-shadow: inset 0 0 0 0 @color-invalid;

				&:focus {
					border-color: @color-invalid;
					box-shadow: inset 0 0 0 0.1em @color-invalid;
				}
			}
		}
	}

	&.oo-ui-widget-disabled {
		input,
		textarea {
			color: @color-disabled;
			text-shadow: @text-shadow-disabled;
			border-color: @border-color-disabled;
			background-color: @background-color-disabled;
		}
		.oo-ui-iconElement-icon,
		.oo-ui-indicatorElement-indicator {
			opacity: @opacity-disabled;
		}
		.oo-ui-labelElement-label {
			color: #ddd;
			text-shadow: @text-shadow-disabled;
		}
	}

	&.oo-ui-iconElement {
		input,
		textarea {
			padding-left: @size-icon + 1em;
		}

		.oo-ui-iconElement-icon {
			left: 0;
			width: @size-icon;
			max-height: 2.375em;
			margin-left: 0.5em;
			height: 100%;
			background-position: right center;
		}
	}

	&.oo-ui-indicatorElement {
		input,
		textarea {
			padding-right: @size-indicator + 1.55em;
		}

		.oo-ui-indicatorElement-indicator {
			width: @size-indicator;
			max-height: 2.375em;
			margin: 0 0.775em;
			height: 100%;
		}
	}

	> .oo-ui-labelElement-label {
		padding: 0.4em;
		line-height: 1.5em;
		color: #888;
	}

	&-labelPosition-after {
		&.oo-ui-indicatorElement > .oo-ui-labelElement-label {
			margin-right: @size-indicator + 1.55em - 0.4em;
		}
	}

	&-labelPosition-before {
		&.oo-ui-iconElement > .oo-ui-labelElement-label {
			margin-left: @size-icon + 1em - 0.4em;
		}
	}
}

.theme-oo-ui-comboBoxInputWidget () {
	width: 100%;
	max-width: 50em;

	.oo-ui-inline-spacing(0.5em);

	input,
	textarea {
		height: 2.35em;
	}
}

.theme-oo-ui-capsuleMultiSelectWidget () {
	width: 100%;
	max-width: 50em;

	&-handle {
		background-color: @background-color-default;
		cursor: text;
		min-height: 2.4em;

		.oo-ui-inline-spacing(0.5em);

		padding: 0.15em 0.25em;
		border: 1px solid #ccc;
		border-radius: @border-radius-default;

		.oo-ui-box-sizing(border-box);

		> .oo-ui-indicatorElement-indicator,
		> .oo-ui-iconElement-icon {
			position: absolute;
			background-position: center center;
			background-repeat: no-repeat;
		}

		> .oo-ui-capsuleMultiSelectWidget-content > input {
			border: 0;
			line-height: 1.675em;
			margin: 0 0 0 0.2em;
			padding: 0;
			font-size: inherit;
			font-family: inherit;
			background-color: transparent;
			color: @color-emphasized;
			vertical-align: middle;
		}

		> .oo-ui-capsuleMultiSelectWidget-content > input:focus {
			// For Chrome
			outline: none;
		}
	}

	&.oo-ui-indicatorElement &-handle {
		padding-right: @size-indicator + 2 * 0.775em;

		> .oo-ui-indicatorElement-indicator {
			right: 0;
			top: 0;
			width: @size-indicator;
			height: @size-indicator;
			margin: 0.775em;
		}
	}

	&.oo-ui-iconElement &-handle {
		padding-left: @size-icon + 2 * 0.3em;

		> .oo-ui-iconElement-icon {
			left: 0;
			top: 0;
			width: @size-icon;
			height: @size-icon;
			margin: 0.3em;
		}
	}

	&:hover &-handle {
		border-color: #aaa;
	}

	&.oo-ui-widget-disabled &-handle {
		color: @color-disabled;
		text-shadow: @text-shadow-disabled;
		border-color: @border-color-disabled;
		background-color: @background-color-disabled;
		cursor: default;

		> .oo-ui-iconElement-icon,
		> .oo-ui-indicatorElement-indicator {
			opacity: @opacity-disabled;
		}
	}

	.oo-ui-selectWidget {
		border-top-color: #fff;
	}
}

.theme-oo-ui-capsuleItemWidget () {
	width: auto;
	max-width: 100%;
	.oo-ui-box-sizing(border-box);
	vertical-align: middle;
	padding: 0 0.4em;
	margin: 0.1em;
	height: 1.7em;
	line-height: 1.7em;

	background-color: #eee;
	border: 1px solid #ccc;
	color: @color-default;
	border-radius: @border-radius-default;

	&.oo-ui-indicatorElement {
		> .oo-ui-labelElement-label {
			padding-right: @size-indicator + 0.4em;
		}

		> .oo-ui-indicatorElement-indicator {
			position: absolute;
			right: 0.4em;
			top: 0;
			width: @size-indicator;
			height: 100%;
			background-repeat: no-repeat;
		}

		> .oo-ui-indicator-clear {
			cursor: pointer;
		}
	}

	&.oo-ui-widget-disabled {
		color: @color-disabled;
		text-shadow: @text-shadow-disabled;
		border-color: @border-color-disabled;
		background-color: @background-color-disabled;

		> .oo-ui-indicatorElement-indicator {
			opacity: @opacity-disabled;
		}
	}
}

.theme-oo-ui-labelWidget () {}

.theme-oo-ui-optionWidget () {
	padding: 0.25em 0.5em;
	border: 0;

	&-highlighted {
		background-color: #eee;
	}

	.oo-ui-labelElement-label {
		line-height: 1.5em;
	}

	.oo-ui-selectWidget-depressed &-selected,
	.oo-ui-selectWidget-pressed &-pressed,
	.oo-ui-selectWidget-pressed &-pressed&-highlighted,
	.oo-ui-selectWidget-pressed &-pressed&-highlighted&-selected {
		background-color: @background-color-pressed;
	}

	&.oo-ui-widget-disabled {
		color: @color-disabled;
	}
}

.theme-oo-ui-decoratedOptionWidget () {
	padding: 0.5em 2em 0.5em 3em;

	&.oo-ui-iconElement .oo-ui-iconElement-icon,
	&.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator {
		top: 0;
		height: 100%;
	}

	&.oo-ui-iconElement .oo-ui-iconElement-icon {
		width: @size-icon;
		left: 0.5em;
	}

	&.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator {
		width: @size-indicator;
		right: 0.5em;
	}

	&.oo-ui-widget-disabled {
		.oo-ui-iconElement-icon,
		.oo-ui-indicatorElement-indicator {
			opacity: @opacity-disabled;
		}
	}
}

.theme-oo-ui-buttonOptionWidget () {
	padding: 0;
	background-color: transparent;

	&.oo-ui-iconElement .oo-ui-iconElement-icon {
		margin-top: 0;
	}

	&.oo-ui-optionWidget-selected,
	&.oo-ui-optionWidget-pressed,
	&.oo-ui-optionWidget-highlighted {
		background-color: transparent;
	}

	// Override DecoratedOptionWidget styles
	&.oo-ui-widget-disabled {
		.oo-ui-iconElement-icon,
		.oo-ui-indicatorElement-indicator {
			opacity: 1;
		}
	}
}

.theme-oo-ui-radioOptionWidget () {
	padding: 0.25em 0;
	background-color: transparent;

	&.oo-ui-optionWidget-selected,
	&.oo-ui-optionWidget-pressed,
	&.oo-ui-optionWidget-highlighted {
		background-color: transparent;
	}

	&.oo-ui-labelElement .oo-ui-labelElement-label {
		padding: 0.25em 0.25em 0.25em 1em;
	}

	.oo-ui-radioInputWidget {
		margin-right: 0;
	}
}

.theme-oo-ui-menuOptionWidget () {
	padding: 0.5em 1em;

	&.oo-ui-optionWidget {
		&-selected {
			background-color: @background-color-selected;
			color: rgba(0,0,0,0.8);

			.oo-ui-iconElement-icon {
				display: none;
			}
		}
		&-highlighted {
			background-color: #eee;
			color: @color-emphasized;
		}
		&-selected&-highlighted {
			background-color: @background-color-selected;
		}
	}
}

.theme-oo-ui-menuSectionOptionWidget () {
	padding: 0.33em 0.75em;
	color: #888;
}

.theme-oo-ui-outlineOptionWidget () {
	font-size: 1.1em;
	padding: 0.75em;

	&.oo-ui-indicatorElement .oo-ui-labelElement-label {
		padding-right: 1.5em;
	}

	&.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator {
		opacity: 0.5;
	}

	&-level-0 {
		padding-left: 3.5em;

		.oo-ui-iconElement-icon {
			left: 1em;
		}
	}
	&-level-1 {
		padding-left: 5em;

		.oo-ui-iconElement-icon {
			left: 2.5em;
		}
	}

	&-level-2 {
		padding-left: 6.5em;

		.oo-ui-iconElement-icon {
			left: 4em;
		}
	}

	.oo-ui-selectWidget-depressed &.oo-ui-optionWidget-selected {
		background-color: @background-color-pressed;
		text-shadow: @text-shadow-default;
	}

	&.oo-ui-flaggedElement-important {
		font-weight: bold;
	}

	&.oo-ui-flaggedElement-placeholder {
		font-style: italic;
	}

	&.oo-ui-flaggedElement-empty {
		.oo-ui-iconElement-icon {
			opacity: 0.5;
		}
		.oo-ui-labelElement-label {
			color: #777;
		}
	}
}

.theme-oo-ui-tabOptionWidget () {
	padding: 0.35em 1em;
	margin: 0.5em 0 0 0.75em;
	border: 1px solid transparent;
	border-bottom: none;
	border-top-left-radius: @border-radius-default;
	border-top-right-radius: @border-radius-default;
	color: @color-default;
	font-weight: bold;

	&.oo-ui-widget-enabled {
		&:hover {
			background-color: rgba(255, 255, 255, 0.3);
		}

		&:active {
			background-color: rgba(255, 255, 255, 0.8);
		}
	}

	&.oo-ui-indicatorElement .oo-ui-labelElement-label {
		padding-right: 1.5em;
	}

	&.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator {
		opacity: 0.5;
	}

	.oo-ui-selectWidget-pressed &.oo-ui-optionWidget-selected,
	.oo-ui-selectWidget-depressed &.oo-ui-optionWidget-selected,
	&.oo-ui-optionWidget-selected:hover {
		background-color: @background-color-default;
        color: #333;
	}
}

.theme-oo-ui-popupWidget () {
	&-popup {
		background-color: @background-color-default;
		border: 1px solid #aaa;
		border-radius: @border-radius-default;
		box-shadow: @box-shadow-popup;
	}

	@anchor-size: 9px;

	&-anchored {
		.oo-ui-popupWidget-popup {
			margin-top: @anchor-size;
		}

		.oo-ui-popupWidget-anchor:before,
		.oo-ui-popupWidget-anchor:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent;
			border-top: 0;
		}

		.oo-ui-popupWidget-anchor:before {
			bottom: -@anchor-size - 1px;
			left: -@anchor-size;
			border-bottom-color: #888;
			border-width: @anchor-size + 1px;
		}

		.oo-ui-popupWidget-anchor:after {
			bottom: -@anchor-size - 1px;
			left: -@anchor-size + 1px;
			border-bottom-color: #fff;
			border-width: @anchor-size;
		}
	}

	&-transitioning .oo-ui-popupWidget-popup {
		.oo-ui-transition(
			width @transition-ease-quick,
			height @transition-ease-quick,
			left @transition-ease-quick
		);
	}

	&-head {
		height: 2.5em;

		> .oo-ui-buttonWidget {
			margin: 0.25em;
		}

		> .oo-ui-labelElement-label {
			margin: 0.75em 1em;
		}
	}

	&-body-padded {
		padding: 0 1em;
	}
}

.theme-oo-ui-searchWidget () {
	&-query {
		height: 4em;
		padding: 0 1em;
		border-bottom: 1px solid #ccc;

		.oo-ui-textInputWidget {
			margin: 0.75em 0;
		}
	}

	&-results {
		top: 4em;
		padding: 1em;
		line-height: 0;
	}
}

.theme-oo-ui-selectWidget () {}

.theme-oo-ui-buttonSelectWidget () {
	border-radius: @border-radius-default;

	.oo-ui-inline-spacing(0.5em);

	.oo-ui-buttonOptionWidget {
		.oo-ui-buttonElement-button {
			border-radius: 0;
			margin-left: -1px;
		}

		&:first-child .oo-ui-buttonElement-button {
			border-bottom-left-radius: @border-radius-default;
			border-top-left-radius: @border-radius-default;
			margin-left: 0;
		}

		&:last-child .oo-ui-buttonElement-button {
			border-bottom-right-radius: @border-radius-default;
			border-top-right-radius: @border-radius-default;
		}
	}
}

.theme-oo-ui-radioSelectWidget () {}

.theme-oo-ui-menuSelectWidget () {
	background-color: @background-color-default;
	margin-top: -1px;
	border: 1px solid #aaa;
	border-radius: 0 0 @border-radius-default @border-radius-default;
	box-shadow: @box-shadow-menu;
}

.theme-oo-ui-floatingMenuSelectWidget () {}

.theme-oo-ui-outlineSelectWidget () {}

.theme-oo-ui-tabSelectWidget () {
	background-color: #ddd;
}

.theme-oo-ui-numberInputWidget () {
	max-width: 50em;

	&-field > .oo-ui-buttonWidget {
		width: 2.5em;
	}

	&-minusButton.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right-width: 0;
	}

	&-plusButton.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left-width: 0;
	}

	.oo-ui-textInputWidget input {
		border-radius: 0;
	}
}

.theme-oo-ui-toggleSwitchWidget () {
	@travelDistance: 1.5em;
	height: 2em;
	width: @travelDistance + 2em;
	border: 1px solid @input-border-color;
	border-radius: 1em;
	background-color: @background-color-default;
	.oo-ui-inline-spacing( 0.5em );
	.oo-ui-transition(
		background-color @transition-ease-quick,
		border-color @transition-ease-quick
	);
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 1px solid transparent;
		border-radius: 1em;
		z-index: 1;
	}

	&-grip {
		top: 0.35em;
		width: 1.2em;
		height: 1.2em;
		border-radius: 1.2em;
		background-color: #555;
		.oo-ui-transition(
			left @transition-ease-quick,
			margin-left @transition-ease-quick
		);
	}

	&-glow {
		// We don't need this for any effects, we have the background on parent element
		display: none;
	}

	&.oo-ui-toggleWidget-on {
		.oo-ui-toggleSwitchWidget-grip {
			left: @travelDistance + 0.4em;
			margin-left: -2px;
		}
	}

	&.oo-ui-toggleWidget-off {
		.oo-ui-toggleSwitchWidget-grip {
			left: 0.4em;
			margin-left: 0;
		}
	}

	&.oo-ui-widget-enabled {
		&.oo-ui-toggleWidget-on {
			background-color: @progressive;
			border-color: @progressive;

			.oo-ui-toggleSwitchWidget-grip {
				background-color: @background-color-default;
				box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.1 );
			}
		}
		&:hover {
			border-color: @progressive-hover;

			&.oo-ui-toggleWidget-on {
				background-color: @progressive-hover;
				border-color: @progressive-hover;
			}
		}
		&:focus {
			border-color: @progressive;
			outline: none;

			&.oo-ui-toggleWidget-on {
				border-color: @progressive;

				&:before {
					border-color: #fff;
				}
			}
		}
		&:active,
		&:active:hover {
			background-color: @progressive;
			border-color: @progressive;

			.oo-ui-toggleSwitchWidget-grip {
				background-color: @background-color-default;
				box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.1 );
			}
		}
	}

	&.oo-ui-widget-disabled {
		background: @background-color-filled-disabled;
		border-color: @border-color-disabled;
		outline: 0;

		.oo-ui-toggleSwitchWidget-grip {
			background: @color-disabled-framed;
		}
	}
}

.theme-oo-ui-progressBarWidget () {
	max-width: 50em;
	background-color: @background-color-default;
	border: 1px solid #ccc;
	border-radius: @border-radius-default;
	overflow: hidden;

	&-bar {
		height: 1em;
		background: #ddd;
		.oo-ui-transition(width 200ms, margin-left 200ms);
	}
	&-indeterminate {
		.oo-ui-progressBarWidget-bar {
			.oo-ui-animation(oo-ui-progressBarWidget-slide 2s infinite linear);
			width: 40%;
			margin-left: -10%;
			border-left-width: 1px;
		}
	}
	&.oo-ui-widget-disabled {
		opacity: 0.6;
	}
}

.oo-ui-progressBarWidget-slide-frames () {
	from { margin-left: -40%; }
	to { margin-left: 100%; }
}
@-webkit-keyframes oo-ui-progressBarWidget-slide { .oo-ui-progressBarWidget-slide-frames }
@-moz-keyframes oo-ui-progressBarWidget-slide { .oo-ui-progressBarWidget-slide-frames }
@-o-keyframes oo-ui-progressBarWidget-slide { .oo-ui-progressBarWidget-slide-frames }
@keyframes oo-ui-progressBarWidget-slide { .oo-ui-progressBarWidget-slide-frames }
