@import 'common';

.theme-oo-ui-buttonElement () {
	> .oo-ui-buttonElement-button {
		> .oo-ui-iconElement-icon {
			margin-left: 0;
		}

		> .oo-ui-indicatorElement-indicator {
			margin-right: -0.75em;
		}
	}

	&.oo-ui-indicatorElement .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,
	&.oo-ui-iconElement .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
		.icon();
	}

	&-frameless {
		> .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			margin-left: 0.25em;
		}
	}

	&-framed {
		> .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			line-height: 1.9em;
		}
	}
}

.theme-oo-ui-clippableElement () {}

.theme-oo-ui-flaggedElement () {}

.theme-oo-ui-groupElement () {}

.theme-oo-ui-iconElement () {}

.theme-oo-ui-indicatorElement () {}

.theme-oo-ui-labelElement () {}

.theme-oo-ui-popupElement () {}

.theme-oo-ui-titledElement () {}
