.demo-positionSelectWidget {
	position: relative;
	width: 8em;
	margin: 0 auto;
}

.demo-positionSelectWidget > div {
	height: 1.6em;
}

.demo-positionSelectWidget:before {
	content: '';
	position: absolute;
	width: 4.8em;
	height: 4.8em;
	border: 1px solid #000;
	left: 1.5em;
	top: 1.5em;
}

.demo-positionSelectWidget .oo-ui-radioOptionWidget {
	width: 1.4em;
	height: 1.4em;
	padding: 0.1em;
	display: inline-block;
}

.demo-positionSelectWidget .oo-ui-radioOptionWidget.oo-ui-optionWidget-selected {
	outline: 1px solid #d33;
}

.demo-positionSelectWidget .oo-ui-radioOptionWidget:first-child {
	margin-top: 0;
}
