/coverage
/dist/*
/doc
/docs
node_modules
npm-debug.log
*.rtl.css
tests/JSPHP.test.js
vendor
composer.lock
/demos/composer.json
/demos/node_modules
/demos/dist
/demos/php
.idea
composer-setup.php
**/.DS_Store
