# This file is mostly used to manage the Packagist release export

# Repo configuration and development-only files
/.* export-ignore
/bin/ export-ignore
/build/ export-ignore
/tests/ export-ignore
/composer.json export-ignore
/Doxyfile export-ignore
/Gemfile* export-ignore
/Gruntfile.js export-ignore
/jsduck* export-ignore
/package*.json export-ignore
/phpunit.xml.dist export-ignore
/Rakefile export-ignore

# Not needed for PHP release (JavaScript-only or non-release)
/demos/ export-ignore
/docs/ export-ignore
/src/ export-ignore
