{
	"extends": "stylelint-config-wikimedia",
	"rules": {
		"at-rule-empty-line-before": false,
		"block-closing-brace-space-after": false,
		"block-no-empty": false,
		"block-no-single-line": false,
		"declaration-no-important": false,
		"font-family-name-quotes": [ "double-where-recommended" ],
		"no-descending-specificity": false,
		"selector-pseudo-element-colon-notation": [ "single" ],
		"string-no-newline": true,
		"string-quotes": false
	}
}
