@import '../common';

.oo-ui-buttonInputWidget {
	// Reset default browser styles
	> button,
	> input {
		background-color: transparent;
		margin: 0; // Support: Safari, see T174971
		border: 0;
		padding: 0;
	}

	.theme-oo-ui-buttonInputWidget();
}
