@import '../common';

.oo-ui-buttonInputWidget {
	display: inline-block;
	vertical-align: middle;

	// Reset default browser styles
	> button,
	> input {
		border: 0;
		padding: 0;
		background-color: transparent;
	}

	.theme-oo-ui-buttonInputWidget();
}
