@import '../common';

.oo-ui-comboBoxInputWidget {
	display: inline-block;
	position: relative;

	&-field {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	.oo-ui-inputWidget-input {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		overflow: hidden;
	}

	&-dropdownButton {
		display: table-cell;

		> .oo-ui-buttonElement-button {
			display: block;
			.oo-ui-box-sizing( border-box );
			overflow: hidden;
		}
	}

	&.oo-ui-comboBoxInputWidget-empty {
		.oo-ui-comboBoxInputWidget-dropdownButton {
			display: none;
		}
	}

	&-php {
		// Hide the Chrome dropdown arrow for PHP widget, but keep its functionality.
		// It lines up with our own indicator almost perfectly this way.
		::-webkit-calendar-picker-indicator {
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			height: 2.5em;
			width: 2.5em;
			padding: 0;
		}

		// Make clicks fall-through to native Chrome dropdown arrow
		> .oo-ui-indicatorElement-indicator {
			pointer-events: none;
		}
	}

	.theme-oo-ui-comboBoxInputWidget();
}
