@import '../common';

.oo-ui-dropdownWidget {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	&-handle {
		position: relative;
		width: 100%;
		display: block;
		.oo-ui-box-sizing( border-box );
		padding: 0;
		overflow: hidden;
		font-family: inherit;
		font-size: inherit;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: default;
		.oo-ui-unselectable();

		// Support Firefox: Normalize by making inner border transparent & by removing padding
		&::-moz-focus-inner {
			border-color: transparent;
			padding: 0;
		}
	}

	&.oo-ui-widget-enabled &-handle {
		cursor: pointer;
	}

	.theme-oo-ui-dropdownWidget();
}
