@import '../common';

.oo-ui-dropdownInputWidget {
	position: relative;
	// Necessary for proper alignment when used with `display: inline-block`
	vertical-align: middle;
	.oo-ui-box-sizing( border-box );

	.oo-ui-dropdownWidget,
	select {
		display: block;
	}

	select {
		// Hide the `background-image` from `.oo-ui-indicator-down` –
		// themes can override `background-position` to display it.
		background-position: -9999em 0;
		background-repeat: no-repeat;
		width: 100%;
		.oo-ui-box-sizing( border-box );
	}

	&.oo-ui-widget-enabled select {
		cursor: pointer;
	}

	.theme-oo-ui-dropdownInputWidget();
}
