@import '../common';

.oo-ui-menuSelectWidget {
	position: absolute;
	width: 100%;
	z-index: 4;

	input {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
	}

	&.oo-ui-clippableElement-clippable {
		// Override ClippableElement min-height
		// Equal to height of one option
		min-height: 2.6em;
	}

	&-invisible {
		// HACK: MenuSelectWidget probably shouldn't be in the business of hiding itself?
		// But right now I've better things to do than figure out how CapsuleMultiselectWidget
		// and the 'filterFromInput' interact...
		display: none;
	}

	.theme-oo-ui-menuSelectWidget();
}
