@import '../common';

.oo-ui-numberInputWidget {
	display: inline-block;
	position: relative;

	&-field {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	&-field > .oo-ui-buttonWidget,
	&-field > .oo-ui-textInputWidget {
		display: table-cell;
		vertical-align: middle;
	}

	&-field > .oo-ui-textInputWidget {
		width: 100%;
	}

	&-field > .oo-ui-buttonWidget {
		white-space: nowrap;
	}

	&-field > .oo-ui-buttonWidget > .oo-ui-buttonElement-button {
		box-sizing: border-box;
	}

	.theme-oo-ui-numberInputWidget();
}
