@import '../mixins';

.oo-ui-outlineItemWidget {
	position: relative;
	padding: 0.75em;
	cursor: pointer;
	.oo-ui-unselectable();

	&.oo-ui-indicatedElement .oo-ui-labeledElement-label {
		padding-right: 1.5em;
	}

	&-level-0 {
		padding-left: 3.5em;

		.oo-ui-iconedElement-icon {
			left: 1em;
		}
	}
	&-level-1 {
		padding-left: 5em;

		.oo-ui-iconedElement-icon {
			left: 2.5em;
		}
	}

	&-level-2 {
		padding-left: 6.5em;

		.oo-ui-iconedElement-icon {
			left: 4em;
		}
	}
}
