@import '../mixins';

.oo-ui-popupWidget {
	&-popup {
		position: absolute;
		overflow: hidden;
		border: solid 1px #ccc;
		border-radius: 0.25em;
		background-color: #fff;
		box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.2);
	}

	&-tail {
		display: none;
	}

	&-tailed {
		.oo-ui-popupWidget-popup {
			margin-top: 7px;
		}

		.oo-ui-popupWidget-tail {
			display: block;
			position: absolute;
			.oo-ui-background-image('images/tail.svg');
			background-repeat: no-repeat;
			width: 15px;
			height: 8px;
			margin-left: -7px;
		}
	}

	&-transitioning .oo-ui-popupWidget-popup {
		.oo-ui-transition(width 100ms ease-in-out, height 100ms ease-in-out, left 100ms ease-in-out);
	}

	&-head {
		height: 2.5em;
		.oo-ui-unselectable();

		.oo-ui-buttonWidget {
			float: right;
			margin: 0.25em;
		}

		.oo-ui-labeledElement-label {
			float: left;
			margin: 0.75em 1em;
			cursor: default;
		}
	}

	&-body {
		box-shadow: 0 0 0.66em rgba(0,0,0,0.25);
	}
}
