@import '../common';

.oo-ui-selectFileWidget {
	display: inline-block;
	vertical-align: middle;

	&-selectButton {
		display: table-cell;
		vertical-align: middle;

		> .oo-ui-buttonElement-button {
			position: relative;
			overflow: hidden;

			> [type="file"] {
				position: absolute;
				margin: 0;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 1;
				cursor: pointer;
				// Push the button part of the native control out of view, as it changes the cursor
				padding-top: 100px;
			}
		}

		&.oo-ui-widget-disabled {
			& > .oo-ui-buttonElement-button > [type="file"] {
				display: none;
			}
		}

	}

	&-info {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		.oo-ui-box-sizing( border-box );

		> .oo-ui-selectFileWidget-label {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-overflow: ellipsis;
		}

		.oo-ui-selectFileWidget-fileType {
			float: right;
		}

		> .oo-ui-indicatorElement-indicator,
		> .oo-ui-iconElement-icon,
		> .oo-ui-selectFileWidget-clearButton {
			position: absolute;
		}
	}

	.oo-ui-selectFileWidget-clearButton {
		z-index: 2;
	}

	&-dropTarget {
		cursor: default;
		height: 5.5em;
		padding: 0;

		.oo-ui-selectFileWidget-dropLabel,
		.oo-ui-selectFileWidget-selectButton {
			display: none;
		}

		.oo-ui-selectFileWidget-thumbnail {
			height: 5.5em;
			width: 5.5em;
			position: absolute;
			background-size: cover;
			background-position: center center;

			&.oo-ui-pendingElement-pending {
				background-size: auto;
			}

			> .oo-ui-selectFileWidget-noThumbnail-icon {
				opacity: 0.4;
				background-color: #ccc;
				height: 5.5em;
				width: 5.5em;
			}
		}

		.oo-ui-selectFileWidget-info {
			border: 0;
			background: none;
			display: block;
			height: 100%;
			width: auto;
			margin-left: 5.5em;

			> .oo-ui-selectFileWidget-label {
				position: relative;
			}

			.oo-ui-selectFileWidget-fileName {
				display: block;
				padding-right: @size-icon + 0.5em;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.oo-ui-selectFileWidget-fileType {
				display: block;
				float: none;
			}

			> .oo-ui-selectFileWidget-clearButton {
				position: absolute;
				right: 0.5em;
			}
		}
	}

	&-empty .oo-ui-selectFileWidget-dropTarget {

		.oo-ui-selectFileWidget-dropLabel {
			display: block;
		}

		.oo-ui-selectFileWidget-thumbnail,
		.oo-ui-selectFileWidget-info {
			display: none;
		}

		.oo-ui-selectFileWidget-selectButton {
			display: block;
			margin: 0.7em;
		}
	}

	&-empty,
	&-notsupported {
		.oo-ui-selectFileWidget-dropTarget {
			text-align: center;

			.oo-ui-selectFileWidget-info {
				margin: 0;
			}
		}
		.oo-ui-selectFileWidget-clearButton {
			display: none;
		}
	}

	&-empty.oo-ui-widget-disabled,
	&-notsupported {
		.oo-ui-selectFileWidget-dropTarget,
		.oo-ui-selectFileWidget-dropTarget .oo-ui-buttonElement-button {
			cursor: no-drop;
		}
	}

	.theme-oo-ui-selectFileWidget();
}
