@import '../mixins';

.oo-ui-textInputWidget {
	position: relative;
	.oo-ui-box-sizing(border-box);

	input,
	textarea {
		display: inline-block;
		width: 100%;
		resize: none;
		.oo-ui-box-sizing(border-box);
	}

	> .oo-ui-iconedElement-icon,
	> .oo-ui-indicatedElement-indicator {
		position: absolute;
		top: 0;
		height: 100%;
		background-repeat: no-repeat;
		cursor: pointer;

		.oo-ui-unselectable();
	}

	> .oo-ui-iconedElement-icon {
		left: 0;
	}

	> .oo-ui-indicatedElement-indicator {
		right: 0;
	}
}
