@import '../../../styles/mixins';
@import '../mixins';
@import '../variables';

@window-header-inner-height: @window-header-height - 1.5em;

.oo-ui-processDialog {
	&-content {
		.oo-ui-window-head {
			height: @window-header-height;
			border-bottom: 1px solid @color-shadow;
			.oo-ui-box-sizing(border-box);
		}
		.oo-ui-window-body {
			top: @window-header-height;
			padding: 2em 0;
		}
	}

	&-navigation {
		position: relative;
		height: @window-header-height;
		padding: 0 1em;
	}

	&-location {
		padding: 0.25em 0;
		height: @window-header-height;
		cursor: default;
		text-align: center;
	}

	&-title {
		font-weight: bold;
		line-height: @window-header-inner-height;
	}

	&-actions {
		&-safe,
		&-primary,
		&-other {
			.oo-ui-actionWidget {
				.oo-ui-buttonedElement-button {
					padding-top: 0.75em;
					padding-bottom: 0.75em;
					min-width: @window-header-inner-height;
					min-height: @window-header-inner-height;
				}

				.oo-ui-labeledElement-label {
					line-height: @window-header-inner-height;
					padding: 0 1em;
				}

				.oo-ui-iconedElement-icon {
					position: absolute;
					margin-top: -0.125em;
				}

				&.oo-ui-buttonedElement-framed {
					margin: 0.75em 0 0.75em 0.75em;
					border: solid 1px #ccc;
					border-radius: 0.25em;
					.oo-ui-buttonedElement-button {
						padding: 0;
						vertical-align: middle;
					}
				}
			}
		}

		&-safe,
		&-primary {
			&.oo-ui-buttonedElement-framed .oo-ui-buttonedElement-button {
				margin: 0.75em;
			}

			.oo-ui-actionWidget {
				&:hover {
					background-color: rgba(0,0,0,0.05);
				}

				&:active {
					background-color: rgba(0,0,0,0.1);
				}

				&.oo-ui-buttonedElement-framed {
					margin: 0.75em;
					.oo-ui-buttonedElement-button {
						/* Adjust for border so text aligns with title */
						margin: -1px;
					}
				}

				&.oo-ui-flaggableElement {
					&-primary {
						&:hover {
							background-color: rgba(8,126,204,0.05);
						}

						&:active {
							background-color: rgba(8,126,204,0.1);
						}

						.oo-ui-labeledElement-label {
							font-weight: bold;
						}
					}

					&-constructive {
						&:hover {
							background-color: rgba(118,171,54,0.05);
						}

						&:active {
							background-color: rgba(118,171,54,0.1);
						}
					}

					&-destructive {
						&:hover {
							background-color: rgba(212,83,83,0.05);
						}

						&:active {
							background-color: rgba(212,83,83,0.1);
						}
					}
				}
			}
		}

		&-safe {
			.oo-ui-actionWidget.oo-ui-iconedElement {
				.oo-ui-iconedElement-icon {
					left: 0.5em;
				}

				.oo-ui-labeledElement-label {
					padding-left: 2.25em;
				}
			}
		}

		&-primary {
			.oo-ui-actionWidget.oo-ui-iconedElement {
				.oo-ui-iconedElement-icon {
					right: 0.5em;
				}

				.oo-ui-labeledElement-label {
					padding-right: 2.25em;
				}
			}
		}
	}

	> .oo-ui-window-frame {
		min-height: 5em;
	}

	&-errors {
		background-color: rgba(255,255,255,0.9);
		padding: 3em 3em 1.5em 3em;
		text-align: center;

		.oo-ui-buttonWidget {
			margin: 2em 1em 2em 1em;
		}

		&-title {
			font-size: 1.5em;
			color: #000;
			margin-bottom: 2em;
		}
	}

	&-error {
		text-align: left;
		margin: 1em;
		padding: 1em;
		border: solid 1px #ff9e9e;
		background-color: #fff7f7;
		border-radius: 0.25em;
	}
}
