// Import the actual theme - this is the theme.less file from the theme's directory.
// Build process should ensure that import paths are set up correctly for this to happen.

@import 'theme.less';

// Mixins

.oo-ui-background-image( @url ) {
	background-image: e( '/* @embed */' ) url( ~'@{url}' );
}

// Support Webkit/Blink: Force element on own GPU composite layer
// Can be used in order to help establish smooth, jank-free scrolling
// in connection with CSS animations or tame `opacity` bug. Use sparely & wisely!
// See T154460 & T182257.
.oo-ui-force-gpu-composite-layer() {
	transform: translateZ( 0 );
}

.oo-ui-horizontal-gradient( @startColor: #eee, @endColor: #fff, @startPos: 0, @endPos: 100% ) {
	background-color: average( @startColor, @endColor );
	background-image: linear-gradient( to right, @startColor @startPos, @endColor @endPos );
}

.oo-ui-vertical-gradient( @startColor: #eee, @endColor: #fff, @startPos: 0, @endPos: 100% ) {
	background-color: average( @startColor, @endColor );
	background-image: linear-gradient( to bottom, @startColor @startPos, @endColor @endPos );
}

.oo-ui-unselectable() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.oo-ui-selectable() {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.oo-ui-inline-spacing( @spacing, @cancelled-spacing: 0 ) {
	margin-right: @spacing;

	&:last-child {
		margin-right: @cancelled-spacing;
	}
}

// Clear floats after the element.
.oo-ui-clearfix() {
	&::after {
		content: ' ';
		display: block;
		clear: both;
	}
}

.oo-ui-placeholder( @rules ) {
	/* stylelint-disable selector-no-vendor-prefix */
	// WebKit, Blink, Edge
	&::-webkit-input-placeholder {
		@rules();
	}
	// Internet Explorer 10-11
	&:-ms-input-placeholder {
		@rules();
	}
	// Firefox 19-50
	&::-moz-placeholder {
		@rules();
	}
	/* stylelint-enable selector-no-vendor-prefix */
	// W3C Standard Selectors Level 4
	&::placeholder {
		@rules();
	}
}

// Screen Reader Helper Mixin
.oo-ui-screen-reader-text() {
	display: block;
	position: absolute;
	clip: rect( 1px, 1px, 1px, 1px );
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
