/* OO.ui.GridLayout */
/* OO.ui.PanelLayout */

.oo-ui-gridLayout,
.oo-ui-panelLayout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.oo-ui-panelLayout-scrollable {
	overflow-y: auto;
}

.oo-ui-panelLayout-padded {
	padding: 2em;
}

/* OO.ui.FieldsetLayout */

.oo-ui-fieldsetLayout {
	border: none;
	margin: 0;
	padding: 0;
}

.oo-ui-fieldsetLayout + .oo-ui-fieldsetLayout {
	margin-top: 2em;
}

.oo-ui-fieldsetLayout-labeled {
	margin-top: -0.75em;
}

.oo-ui-fieldsetLayout > legend.oo-ui-labeledElement-label {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.oo-ui-fieldsetLayout-decorated > legend.oo-ui-labeledElement-label {
	padding-left: 1.75em;
	background-position: left center;
	background-repeat: no-repeat;
}

/* OO.ui.BookletLayout */

.oo-ui-bookletLayout-stackLayout .oo-ui-panelLayout {
	padding: 1.5em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.oo-ui-bookletLayout-stackLayout .oo-ui-panelLayout-scrollable {
	overflow-y: auto;
}

.oo-ui-bookletLayout-stackLayout .oo-ui-panelLayout-padded {
	padding: 2em;
}

.oo-ui-bookletLayout-outlinePanel {
	border-right: solid 1px #ddd;
}

.oo-ui-bookletLayout-outlinePanel-editable .oo-ui-outlineWidget {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 3em;
	overflow-y: auto;
}

.oo-ui-bookletLayout-outlinePanel .oo-ui-outlineControlsWidget {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 0.25em rgba(0,0,0,0.25);
}

.oo-ui-stackLayout-continuous > .oo-ui-panelLayout {
	position: relative;
	margin-bottom: 1em;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.25);
}

.oo-ui-stackLayout-continuous > .oo-ui-panelLayout:last-child {
	margin-bottom: 0;
}
