/* OO.ui.GridLayout */
/* OO.ui.PanelLayout */

.oo-ui-gridLayout,
.oo-ui-panelLayout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.oo-ui-panelLayout-scrollable {
	overflow-y: auto;
}

.oo-ui-panelLayout-padded {
	padding: 2em;
}

/* OO.ui.FieldsetLayout */

.oo-ui-fieldsetLayout {
	position: relative;
	border: none;
	margin: 0;
	padding: 0;
}

.oo-ui-fieldsetLayout + .oo-ui-fieldsetLayout {
	margin-top: 2em;
}

.oo-ui-fieldsetLayout-labeled {
	margin-top: -0.75em;
}

.oo-ui-fieldsetLayout > legend.oo-ui-labeledElement-label {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	padding: 0.25em 0;
}

.oo-ui-fieldsetLayout.oo-ui-iconedElement > legend.oo-ui-labeledElement-label {
	padding-left: 1.75em;
}

.oo-ui-fieldsetLayout.oo-ui-iconedElement > .oo-ui-iconedElement-icon {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 2em;
	height: 2em;
	background-position: center center;
	background-repeat: no-repeat;
}

/* OO.ui.FieldLayout */

.oo-ui-fieldLayout {
	margin-bottom: 1em;
}

.oo-ui-fieldLayout:last-child {
	margin-bottom: 0;
}

.oo-ui-fieldLayout:before,
.oo-ui-fieldLayout:after {
    content: " ";
    display: table;
}

.oo-ui-fieldLayout:after {
    clear: both;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-labeledElement-label,
.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-labeledElement-label {
	display: block;
	float: left;
	width: 35%;
	padding-top: 0.5em;
	margin-right: 5%;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-field,
.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-field {
	display: block;
	float: left;
	width: 60%;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-labeledElement-label {
	text-align: right;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-labeledElement-label {
	display: inline-block;
	vertical-align: middle;
	padding: 0.75em 0.5em 0.5em 0.5em;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-field {
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em 0;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-labeledElement-label {
	padding: 0.5em 0;
}

/* OO.ui.BookletLayout */

.oo-ui-bookletLayout-stackLayout .oo-ui-panelLayout {
	padding: 1.5em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.oo-ui-bookletLayout-stackLayout .oo-ui-panelLayout-scrollable {
	overflow-y: auto;
}

.oo-ui-bookletLayout-stackLayout .oo-ui-panelLayout-padded {
	padding: 2em;
}

.oo-ui-bookletLayout-outlinePanel {
	border-right: solid 1px #ddd;
}

.oo-ui-bookletLayout-outlinePanel-editable .oo-ui-outlineWidget {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 3em;
	overflow-y: auto;
}

.oo-ui-bookletLayout-outlinePanel .oo-ui-outlineControlsWidget {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 0.25em rgba(0,0,0,0.25);
}

.oo-ui-stackLayout > .oo-ui-panelLayout {
	display: none;
}

.oo-ui-stackLayout-continuous > .oo-ui-panelLayout {
	display: block;
	position: relative;
}
