/* OO.ui.PopupTool */

.oo-ui-popupTool .oo-ui-popupWidget {
	margin-left: 1.25em;
	font-size: 0.8em;
}

.oo-ui-popupTool .oo-ui-popupWidget-popup,
.oo-ui-popupTool .oo-ui-popupWidget-tail {
	z-index: 4;
}
