/*csslint vendor-prefix:false */

/* Textures */

.oo-ui-texture-pending {
	/* @embed */
	background-image: url(images/textures/pending.gif);
}

.oo-ui-texture-transparency {
	/* @embed */
	background-image: url(images/textures/transparency.png);
}

/* RTL Definitions */

/* @noflip */
.oo-ui-rtl {
	direction: rtl;
}
/* @noflip */
.oo-ui-ltr {
	direction: ltr;
}
