@import 'common';

.oo-ui-toolbar {
	clear: both;

	&-bar {
		line-height: 1;
		position: relative;
	}

	&-tools,
	&-actions {
		.oo-ui-unselectable();
	}

	&-tools {
		display: inline;
	}

	&-popups {
		position: absolute;
	}

	&-tools,
	&-popups {
		white-space: nowrap;

		// Tools like PopupToolGroup can have a lot of content, which should be wrapped normally
		.oo-ui-tool,
		.oo-ui-popupTool-popup {
			white-space: normal;
		}
	}

	.oo-ui-toolbar-narrow &-tools,
	.oo-ui-toolbar-narrow&-popups {
		white-space: normal;
	}

	&-actions {
		float: right;

		.oo-ui-toolbar,
		.oo-ui-buttonElement.oo-ui-labelElement > input.oo-ui-buttonElement-button,
		.oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			display: inline-block;
		}

		.oo-ui-popupWidget {
			.oo-ui-selectable();
		}
	}

	.theme-oo-ui-toolbar();
}
