@import 'common';

.oo-ui-window {
	&-frame {
		.oo-ui-box-sizing( border-box );
	}

	&-content {
		// This lets the -content element take focus in Firefox when a child element is clicked
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		// Element takes focus when opened, so hide outline
		&:focus {
			outline: 0;
		}
	}

	&-head,
	&-foot {
		.oo-ui-unselectable();
	}

	&-body {
		margin: 0;
		padding: 0;
		background: none;
	}

	&-overlay {
		position: absolute;
		top: 0;
		/* @noflip */
		left: 0;
	}

	.theme-oo-ui-window();
}
