// Theme variables

@oo-ui-default-image-path: 'themes/blank/images';

@oo-ui-font-size-browser: 16; // assumed browser default of `16px`
@oo-ui-font-size-default: 0.8em; // equals `12.8px` at browser default of `16px`

// `@*size` variables are used for `*width` & `*height` properties
@min-size-icon: 24px; // values used for `min-height` are defined in `px`, see T130691
@min-size-indicator: 12px;
@size-icon: 24 / @oo-ui-font-size-browser / @oo-ui-font-size-default; // equals `1.875em`≈`24px` at base `font-size: 12.8px`
@size-indicator: 12 / @oo-ui-font-size-browser / @oo-ui-font-size-default; // equals `0.9375em`≈`12px` at base `font-size: 12.8px`

// Theme mixins

// (add mixins here)
