// Theme variables

@ooui-default-image-path: 'themes/blank/images';

@ooui-font-size-browser: 16; // assumed browser default of `16px`
@ooui-font-size-base: 0.875em; // equals `14px` at browser default of `16px`

// `@*size` variables are used for `*width` & `*height` properties
@min-size-icon: 20px; // values used for `min-height` are defined in `px`, see T130691
@min-size-indicator: 12px;
@size-icon: 20 / @ooui-font-size-browser / @ooui-font-size-base; // equals `1.42857143em`≈`20px` at base `font-size: 14px`
@size-indicator: 12 / @ooui-font-size-browser / @ooui-font-size-base; // equals `0.85714286em`≈`12px` at base `font-size: 14px`

// Theme mixins

// (add mixins here)
