@import '../mixins';

.oo-ui-buttonedElement {
	.oo-ui-buttonedElement-button {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		.oo-ui-unselectable();

		> .oo-ui-iconedElement-icon {
			display: none;
			margin-left: 0;
		}

		> .oo-ui-indicatedElement-indicator {
			display: none;
			margin-right: -0.75em;
		}
	}

	&.oo-ui-widget-disabled .oo-ui-buttonedElement-button {
		cursor: default;
	}

	&.oo-ui-indicatedElement .oo-ui-buttonedElement-button > .oo-ui-indicatedElement-indicator,
	&.oo-ui-iconedElement .oo-ui-buttonedElement-button > .oo-ui-iconedElement-icon {
		display: inline-block;
		vertical-align: middle;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.oo-ui-buttonedElement-frameless {
	display: inline-block;
	position: relative;

	.oo-ui-buttonedElement-button > .oo-ui-labeledElement-label {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.25em;
	}
}

.oo-ui-buttonedElement-framed {
	.oo-ui-buttonedElement-button {
		display: inline-block;
		margin: 0.1em 0;
		padding: 0.2em 0.8em;
		vertical-align: top;
		text-align: center;

		> .oo-ui-labeledElement-label {
			display: inline-block;
			vertical-align: middle;
			line-height: 1.9em;
		}
	}

	&.oo-ui-iconedElement {
		.oo-ui-buttonedElement-button > .oo-ui-iconedElement-icon {
			margin-left: -0.5em;
			margin-right: -0.5em;
		}

		&.oo-ui-labeledElement .oo-ui-buttonedElement-button > .oo-ui-iconedElement-icon {
			margin-left: -0.5em;
			margin-right: 0.3em;
		}
	}

	&.oo-ui-widget-disabled {
		.oo-ui-buttonedElement-button,
		.oo-ui-buttonedElement-button.oo-ui-buttonedElement-active,
		.oo-ui-buttonedElement-button.oo-ui-buttonedElement-pressed {
			cursor: default;
		}
	}
}
