@import '../common';

.oo-ui-buttonedElement {
	> .oo-ui-buttonedElement-button {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		.oo-ui-unselectable();

		> .oo-ui-iconedElement-icon {
			display: none;
		}

		> .oo-ui-indicatedElement-indicator {
			display: none;
		}
	}

	&.oo-ui-widget-disabled > .oo-ui-buttonedElement-button {
		cursor: default;
	}

	&.oo-ui-indicatedElement > .oo-ui-buttonedElement-button > .oo-ui-indicatedElement-indicator,
	&.oo-ui-iconedElement > .oo-ui-buttonedElement-button > .oo-ui-iconedElement-icon {
		display: inline-block;
		vertical-align: middle;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&-frameless {
		display: inline-block;
		position: relative;

		> .oo-ui-buttonedElement-button > .oo-ui-labeledElement-label {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&-framed {
		> .oo-ui-buttonedElement-button {
			display: inline-block;
			vertical-align: top;
			text-align: center;

			> .oo-ui-labeledElement-label {
				display: inline-block;
				vertical-align: middle;
			}
		}

		&.oo-ui-widget-disabled {
			> .oo-ui-buttonedElement-button,
			&.oo-ui-buttonedElement-active > .oo-ui-buttonedElement-button,
			&.oo-ui-buttonedElement-pressed > .oo-ui-buttonedElement-button {
				cursor: default;
			}
		}
	}

	.theme-oo-ui-buttonedElement();
}
