@import '../common';

.oo-ui-buttonElement {
	> .oo-ui-buttonElement-button {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		font: inherit;
		line-height: normal; // Override MediaWiki skin's `line-height`
		white-space: nowrap;
		.oo-ui-unselectable();

		> .oo-ui-iconElement-icon,
		> .oo-ui-indicatorElement-indicator {
			display: none;
		}
	}

	&.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
		cursor: default;
	}

	&.oo-ui-indicatorElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,
	&.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon,
	&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
		display: inline-block; // For vertical alignment
		vertical-align: middle;
	}

	&-frameless {
		display: inline-block;
		position: relative;
	}

	&-framed {
		> .oo-ui-buttonElement-button {
			vertical-align: top;
			text-align: center;
		}
	}

	.theme-oo-ui-buttonElement();
}
