@import '../common';

.oo-ui-indicatorElement {
	.oo-ui-indicatorElement-indicator,
	&.oo-ui-indicatorElement-indicator {
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.theme-oo-ui-indicatorElement();
}
