// Theme variables
@ooui-default-image-path: 'themes/wikimediaui/images';
@apex-font-size-base: 0.8em;

@background-color-base: #fff;
// 'Framed' UI elements (Framed Buttons, Dropdowns, ToggleSwitches...)
@background-color-interactive-subtle-start: #fafafa;
@background-color-interactive-subtle-stop: #ddd;
@background-color-interactive-subtle-start--active: #ddd;
@background-color-interactive-subtle-stop--active: #fafafa;
// 'Frameless' buttons
@background-color-button-quiet--hover: rgba( 0, 0, 0, 5/255 ); // Equivalent to #fafafa on white
@background-color-button-quiet--active: rgba( 0, 0, 0, 34/255 ); // Equivalent to #ddd on white
// Primary 'Progressive' widgets
@background-color-progressive-gradient-light: #eaf4fa;
@background-color-progressive-gradient-dark: #b0d9ee;
@background-color-interactive: #ddd;
// Tabs Navigation Background Color
@background-color-interactive: #eee;
@background-color-error-subtle: #ffdcdc;
@background-color-warning-subtle: #fff8c6;
@background-color-success-subtle: #d5fdd6;
@background-color-notice-subtle: #fafafa;

@color-base: #333;
@color-base--read-only: #767676;
@color-inverted: #fff;
@color-emphasized: #000;
@color-subtle: #595959; // aligns to WCAG 2.0 level AAA at 7.00:1 contrast ratio
@color-placeholder: #767676; // aligns to WCAG 2.0 level AA at 4.54:1 contrast ratio
@color-base--subtle: #767676;

@color-progressive: #087ecc;
@color-destructive: #d45353;
@color-error: @color-destructive;
@color-warning: @color-emphasized;
@color-success: #34782b;
@color-success--framed: @color-emphasized;
@color-notice: @color-emphasized;

// Box Sizes
// `@*size` variables in scale are used for `*width` & `*height` properties
@size-200: unit( ( 32 / 16 / @apex-font-size-base ), em );
@size-100: unit( ( 16 / 16 / @apex-font-size-base ), em );

@size-icon-medium: unit( ( 20 / 16 / @apex-font-size-base ), em ); // equals `1.42857143em`≈`20px` at base `font-size: 14px`
// Note, in Codex `@size-icon-small` is `16px` equivalent.
@size-icon-small: unit( ( 14 / 16 / @apex-font-size-base ), em );
@size-icon-x-small: unit( ( 12 / 16 / @apex-font-size-base ), em ); // equals `0.9375em`≈`12px`

@min-size-interactive-pointer: 32px;
@min-size-icon-medium: 20px;
@min-size-icon-x-small: 12px;
@min-size-icon-tagitem-remove: 14px;
@max-width-base: 50em;
@max-width-input-base: @max-width-base;

@size-anchor: 6px;
@size-button-inner: unit( ( 30 / 16 / @apex-font-size-base ), em ); // `@size-base` - 2 x `@border-width-base`
@size-icon-medium-inner: unit( ( 20 / 16 / @apex-font-size-base ), em );
@size-icon-medium-outer: unit( ( 2 / 16 / @apex-font-size-base ), em );
@size-icon-medium: @size-icon-medium-inner + 2 * @size-icon-medium-outer; // 24
@size-icon-tagitem-remove: unit( ( 14 / 16 / @apex-font-size-base ), em );
@size-icon-x-small: unit( ( 12 / 16 / @apex-font-size-base ), em );
@size-dialog-message-bar: unit( ( 32 / 16 / @apex-font-size-base ), em );
@size-modifier-border: unit( ( 1 / 16 / @apex-font-size-base ), em ); // Use for size calculations with borders aside of `px` based `@border-width-base`

@height-tagitem: unit( ( 22 / 16 / @apex-font-size-base ), em );

@start-frameless: -@padding-horizontal-frameless;
@start-icon-tagitem-remove: unit( ( 3 / 16 / @apex-font-size-base ), em );

@margin-top-message: unit( ( 8 / 16 / @apex-font-size-base ), em );
@margin-top-message-label: unit( ( 2 / 16 / @apex-font-size-base ), em );
@margin-horizontal-fieldlayout-message: unit( ( 2 / 16 / @apex-font-size-base ), em );

@border-base: @border-width-base @border-style-base @border-color-base;
@border-progressive: @border-width-base @border-style-base @border-color-progressive;

@border-color-base: #ccc;
@border-color-base--hover: #aaa;
@border-color-base--focus: #ace;
@border-color-transparent: transparent;
@border-color-progressive: #a6cee1;
@border-color-progressive--hover: #9dc2d4;
@border-color-error: @color-error;
@border-color-warning: #fc3;
@border-color-success: @color-success;
@border-color-notice: @border-color-base;
// Border Styles
@border-style-base: solid;
// Border Widths
@border-width-base: 1px;
@border-width-thick: 2px;
// Border Radius
@border-radius-base: 3px;

@padding-base: @padding-vertical-base @padding-horizontal-base;
@padding-frameless: @padding-vertical-frameless @padding-horizontal-frameless;
@padding-panel-form: 1em 1em 1.25em;
@padding-horizontal-base: unit( ( 10 / 16 / @apex-font-size-base ), em );
@padding-horizontal-frameless: unit( ( 4 / 16 / @apex-font-size-base ), em );
@padding-horizontal-input-text: 0.5em;
@padding-horizontal-message-block: unit( ( 24 / 16 / @apex-font-size-base ), em );
@padding-vertical-base: unit( ( 3 / 16 / @apex-font-size-base ), em );
@padding-vertical-frameless: unit( ( 4 / 16 / @apex-font-size-base ), em );
@padding-vertical-label: @padding-vertical-frameless;
@padding-vertical-message-block: unit( ( 16 / 16 / @apex-font-size-base ), em );
// Must be < `8` as it cuts off scripts.
@padding-vertical-textinput: unit( ( 6 / 16 / @apex-font-size-base ), em );
@padding-start-fieldlayout-label: @padding-horizontal-input-text;
@padding-start-messages: unit( ( 8 / 16 / @apex-font-size-base ), em );
@padding-end-dropdown: @size-icon-x-small + ( 2 * @padding-horizontal-base );
@padding-end-tagitem-remove: unit( ( 23 / 16 / @apex-font-size-base ), em );

@box-shadow-base--focus: 0 0 2px 2px @border-color-base--focus;

@filter-drop-shadow-menu: drop-shadow( 0 0.15em 0.5em rgba( 0, 0, 0, 0.2 ) );

@font-size-small: unit( ( 12 / 16 / @apex-font-size-base ), em );

@line-height-reset: 1; // Support: Safari, reset `line-height` in order to normalize it in a follow-up rule across browsers.
@line-height-base: 1.4;
@line-height-input: unit( ( 18 / 16 / @apex-font-size-base ), em ); // Firefox needs a value, Chrome the unit; equals `18px` at base `font-size: 12.8px`

// FIXME: Should be theme-independent variable, only in Apex for now;
@text-shadow-button: 0 1px 1px rgba( 255, 255, 255, 0.5 );
@text-shadow-widget-disabled: 0 1px 1px #fff;

// Theme animation variables
// Some of these values are duplicated in OO.ui.ApexTheme
@transition-duration-base: 100ms; // `ease` is the initial value, therefore it doesn't need to be specified.
@transition-duration-medium: 250ms;

// Dialogs
@size-dialog-menu: unit( ( 200 / 16 / @apex-font-size-base ), em );

// Theme mixins

// (add mixins here)
