// Theme variables
@ooui-default-image-path: 'themes/wikimediaui/images';

@background-color-main: #fff;
// 'Framed' UI elements (Framed Buttons, Dropdowns, ToggleSwitches...)
@background-color-framed-start: #fafafa;
@background-color-framed-stop: #ddd;
@background-color-framed-start--active: #ddd;
@background-color-framed-stop--active: #fafafa;
// Primary 'Progressive' widgets
@background-color-progressive-gradient-light: #eaf4fa;
@background-color-progressive-gradient-dark: #b0d9ee;

@color-base: #333;
@color-base--read-only: #767676;
@color-base--inverted: #fff;
@color-base--deemphasized: #595959; // aligns to WCAG 2.0 level AAA at 7.00:1 contrast ratio
@color-placeholder: #767676; // aligns to WCAG 2.0 level AA at 4.54:1 contrast ratio
@color-base--subtle: #767676;

@color-progressive: #087ecc;
@color-destructive: #d45353;

// Box Sizes
// `@*size` variables are used for `*width` & `*height` properties
@min-size-icon: 20px;
@min-width-icon-numberinput: 20px;
@min-size-indicator: 12px;
@min-size-tagitem-close: 14px;
@max-width-base: 50em;
@max-width-input-base: @max-width-base;

@size-anchor: 6px;
@size-icon-inner: unit( 20 / 16 / 0.8, em );
@size-icon-outer: unit( 2 / 16 / 0.8, em );
@size-icon: @size-icon-inner + 2 * @size-icon-outer; // 24
@size-icon-numberinput: unit( 20 / 16 / 0.8, em );
@size-icon-tagitem-close: unit( 14 / 16 / 0.8, em );
@size-indicator: unit( 12 / 16 / 0.8, em );
@size-dialog-message-bar: unit( 32 / 16 / 0.8, em );

@start-frameless: -@padding-horizontal-frameless;

@border-base: @border-width-base @border-style-base @border-color-base;

@border-color-base: #ccc;
@border-color-base--hover: #aaa;
@border-color-base--focus: #ace;
@border-color-frameless: transparent;
@border-color-frameless--fallback: @color-base--inverted; // Support IE 6: `transparent` is not rendered correctly
@border-color-progressive: #a6cee1;
@border-color-progressive--hover: #9dc2d4;
// Border Styles
@border-style-base: solid;
// Border Widths
@border-width-base: 1px;
// Border Radius
@border-radius-base: 3px;

@padding-base: @padding-vertical-base @padding-horizontal-base;
@padding-frameless: @padding-vertical-frameless @padding-horizontal-frameless;
@padding-vertical-base: unit( 3 / 16 / 0.8, em );
@padding-horizontal-base: unit( 10 / 16 / 0.8, em );
@padding-horizontal-frameless: unit( 4 / 16 / 0.8, em );
@padding-vertical-frameless: unit( 4 / 16 / 0.8, em );
@padding-vertical-label: @padding-vertical-frameless;
@padding-top-textinput: unit( 7 / 16 / 0.8, em );
@padding-bottom-textinput: unit( 8 / 16 / 0.8, em );

@box-shadow-widget--focus: 0 0 2px 2px @border-color-base--focus;

@font-size-small: unit( 12 / 16 / 0.8, em );

@line-height-base: 1.4;
@line-height-widget-multiline: 1.275;
@line-height-widget-singleline: 1.172em; // Firefox needs a value, Chrome the unit; equals `15px` at base `font-size: 12.8px`

// Theme animation variables
// Some of these values are duplicated in OO.ui.ApexTheme
@transition-base: 100ms; // `ease` is the initial value
@transition-ease-medium: 250ms; // `ease` is the initial value

// Theme mixins

// (add mixins here)
