@import 'common';

.theme-oo-ui-element () {}

.theme-oo-ui-buttonElement () {
	> .oo-ui-buttonElement-button {
		color: @color-base;
		position: relative;
		border-radius: @border-radius-base;

		&:focus {
			outline: 0;
		}
	}

	// Support `<input>` from ButtonInputWidget
	> input.oo-ui-buttonElement-button,
	&.oo-ui-labelElement .oo-ui-labelElement-label {
		line-height: @size-icon;
	}

	&.oo-ui-indicatorElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,
	&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label,
	&-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
		// Vertical align text
		display: inline-block;
		vertical-align: middle;
	}

	&.oo-ui-iconElement {
		.oo-ui-indicatorElement-indicator {
			margin-left: @size-indicator / 2;
		}
	}

	&.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator {
		margin: @size-indicator / 2;
	}

	&-frameless {
		> .oo-ui-buttonElement-button {
			> .oo-ui-iconElement-icon {
				.oo-ui-transition( opacity @transition-ease-medium );
				// Support Webkit/Blink: `opacity` < 1 causes wiggling, see T65020
				.oo-ui-force-gpu-composite-layer();
			}

			> .oo-ui-labelElement-label {
				color: @color-base;
			}

			&:hover,
			&:focus {
				> .oo-ui-iconElement-icon {
					opacity: 1;
				}

				> .oo-ui-labelElement-label {
					color: #000;
				}
			}
		}

		&.oo-ui-labelElement,
		&.oo-ui-iconElement {
			&:first-child {
				margin-left: @start-frameless; // Address `padding-left/-right` below
			}

			> .oo-ui-buttonElement-button {
				padding: @padding-frameless;
			}

			&.oo-ui-indicatorElement { // Workaround for label/icon & indicator combinations
				> .oo-ui-buttonElement-button {
					padding: @padding-frameless;
				}
			}
		}

		&.oo-ui-labelElement {
			> .oo-ui-buttonElement-button {
				> .oo-ui-labelElement-label {
					color: @color-base;
					margin-left: 0.25em;
				}
			}
		}

		&.oo-ui-indicatorElement {
			> .oo-ui-buttonElement-button {
				padding: 0;
			}
		}

		// Support `<input>` from ButtonInputWidget
		> input.oo-ui-buttonElement-button {
			padding-left: 0.25em;
			color: @color-base;

			&:hover,
			&:focus {
				color: #000;
			}
		}

		&.oo-ui-widget-enabled {
			&.oo-ui-iconElement,
			&.oo-ui-labelElement {
				> .oo-ui-buttonElement-button:focus {
					border-color: @border-color-base--focus;
					box-shadow: @box-shadow-widget--focus;

					&:active {
						border-color: @border-color-frameless--fallback;
						border-color: @border-color-frameless;
						box-shadow: none;
					}
				}
			}

			&.oo-ui-indicatorElement:not( .oo-ui-iconElement ):not( .oo-ui-labelElement ) { // IE 9+ only on non-critical design properties
				> .oo-ui-buttonElement-button {
					border-radius: @border-radius-base;

					&:focus {
						box-shadow: @box-shadow-widget--focus;

						&:active {
							box-shadow: none;
						}
					}
				}
			}
		}

		&.oo-ui-flaggedElement {
			&-progressive > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				color: @color-progressive;
			}

			&-destructive > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
				color: @color-destructive;
			}
		}

		&.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
			> .oo-ui-iconElement-icon {
				opacity: 0.2;
			}

			> .oo-ui-labelElement-label {
				color: #ccc;
			}
		}
	}

	&-framed {
		> .oo-ui-buttonElement-button {
			.oo-ui-vertical-gradient( @background-color-framed-start, @background-color-framed-stop );
			border: @border-base;
			padding: @padding-base;
			text-shadow: 0 1px 1px rgba( 255, 255, 255, 0.5 );
			.oo-ui-transition( border-color @transition-base );

			&:hover {
				border-color: @border-color-base--hover;
			}

			&:focus {
				border-color: @border-color-base--focus;
				box-shadow: @box-shadow-widget--focus;
			}
		}

		// Support <input> from ButtonInputWidget
		> input.oo-ui-buttonElement-button,
		&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			line-height: @size-icon;
		}

		&.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
		&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,
		&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
			.oo-ui-vertical-gradient( @background-color-framed-start--active, @background-color-framed-stop--active );
			color: #000;
			border-color: @border-color-base;
			box-shadow: inset 0 1px 4px 0 rgba( 0, 0, 0, 0.07 );

			&:focus {
				border-color: @border-color-base--focus;
				box-shadow: inset 0 1px 4px 0 rgba( 0, 0, 0, 0.07 ), @box-shadow-widget--focus;
			}
		}

		&.oo-ui-iconElement {
			> .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
				margin-left: -0.5em + @size-icon-outer;
				margin-right: -0.5em + @size-icon-outer;
				// Vertical align text
				display: inline-block;
				vertical-align: middle;
			}

			&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
				margin-right: 0.3em;
			}
		}

		&.oo-ui-indicatorElement {
			> .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator {
				margin-left: -0.005em;
				margin-right: -0.005em;
			}

			&.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,
			&.oo-ui-iconElement:not( .oo-ui-labelElement ) > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator {
				margin-left: @size-indicator / 2;
				margin-right: -0.275em;
			}
		}

		&.oo-ui-flaggedElement {
			&-progressive {
				> .oo-ui-buttonElement-button {
					.oo-ui-vertical-gradient( @background-color-progressive-gradient-light, @background-color-progressive-gradient-dark );
					border: 1px solid @border-color-progressive;

					&:hover {
						border-color: @border-color-progressive--hover;
					}
				}

				&.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
				&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,
				&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
					.oo-ui-vertical-gradient( @background-color-progressive-gradient-dark, @background-color-progressive-gradient-light );
					border: 1px solid @border-color-progressive;
				}
			}

			&-destructive > .oo-ui-buttonElement-button {
				color: @color-destructive;
			}
		}

		&.oo-ui-widget-disabled {
			> .oo-ui-buttonElement-button,
			&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,
			&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
				opacity: 0.5;
				// Opacity causes 1px measurement errors in Chrome, so force GPU rendering
				.oo-ui-force-gpu-composite-layer();
				box-shadow: none;
				color: @color-base;
				background: #eee;
				border-color: @border-color-base;

				&:hover,
				&:focus {
					border-color: #ccc;
					box-shadow: none;
				}
			}
		}
	}
}

.theme-oo-ui-clippableElement () {}

.theme-oo-ui-draggableElement () {}

.theme-oo-ui-draggableGroupElement () {}

.theme-oo-ui-flaggedElement () {}

.theme-oo-ui-floatableElement () {}

.theme-oo-ui-groupElement () {}

.theme-oo-ui-iconElement () {
	&-icon {
		position: static;
		top: auto;
		width: @size-icon-inner;
		height: @size-icon-inner;
		min-width: auto;
		min-height: auto;
		margin: @size-icon-outer;
		opacity: 0.8;
	}
}

.theme-oo-ui-indicatorElement () {
	&-indicator {
		position: static;
		top: auto;
		height: @size-indicator;
		opacity: 0.8;
	}
}

.theme-oo-ui-labelElement () {
	.oo-ui-labelElement-label-highlight {
		font-weight: bold;
	}
}

.theme-oo-ui-lookupElement () {}

.theme-oo-ui-pendingElement () {
	&-pending {
		.oo-ui-background-image( '@{ooui-default-image-path}/textures/pending.gif' );
	}
}

.theme-oo-ui-popupElement () {}

.theme-oo-ui-tabIndexedElement () {}

.theme-oo-ui-titledElement () {}
