.oo-ui-window {
	&-body {
		padding: 0 0.75em;
	}

	&-icon {
		width: 2em;
		height: 2em;
		line-height: 2em;
		margin-right: 0.5em;
	}

	&-title {
		color: #333;
		line-height: 2em;
	}

	&-overlay {
		font-family: sans-serif;
		line-height: 1.5em;
		font-size: 1em;
	}
}
