@import 'common';

.theme-oo-ui-window () {
	background-color: transparent;
	background-image: none;
}

.theme-oo-ui-dialog () {
	&-content > .oo-ui-window-body {
		box-shadow: 0 0 0.66em rgba( 0, 0, 0, 0.25 );
	}
}

.theme-oo-ui-messageDialog () {
	&-content {
		.oo-ui-window-body {
			box-shadow: none;
		}
	}

	&-title,
	&-message {
		display: block;
		line-height: 1.5em;
		text-align: center;
	}

	&-title {
		font-size: 1.5em;
		color: #000;
	}

	&-message {
		font-size: 1.1em;
		color: #666;
		text-align: left;
	}

	&-actions {
		.oo-ui-actionWidget {
			min-height: @size-dialog-message-bar;
			.oo-ui-inline-spacing( 0 );

			&.oo-ui-labelElement .oo-ui-labelElement-label {
				line-height: @size-dialog-message-bar;
				text-align: center;
			}

			&.oo-ui-flaggedElement {
				&-progressive {
					.oo-ui-labelElement-label {
						font-weight: bold;
					}
				}
			}
		}

		&-horizontal {
			.oo-ui-actionWidget {
				margin: 0;

				&:first-child > .oo-ui-buttonElement-button {
					border-left-width: 2px;
					border-left-color: transparent;
					border-radius: 0 0 0 @border-radius-base;

					&:hover {
						border-left-color: @border-color-base--hover;
					}

					&:focus {
						border-left-color: @border-color-base--focus;
					}
				}

				&:last-child > .oo-ui-buttonElement-button {
					border-right-width: 2px;
					border-right-color: transparent;
					border-radius: 0 0 @border-radius-base 0;

					&:hover {
						border-right-color: #aaa;
					}

					&:focus {
						border-right-color: @border-color-base--focus;
					}
				}

				&:only-child > .oo-ui-buttonElement-button {
					border-radius: 0 0 @border-radius-base @border-radius-base;
				}
			}
		}

		@supports ( width: calc( 100% + 2px ) ) {
			&-horizontal {
				width: calc( ~'100% + 2px' );
				margin-left: -@border-width-base;
				margin-right: -@border-width-base;
			}
		}

		&-vertical {
			.oo-ui-actionWidget {
				margin: -@border-width-base 0 0;
				border-bottom: 1px solid #e5e5e5;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					border-bottom-width: 0;
				}

				> .oo-ui-buttonElement-button {
					border-radius: 0;
				}

				&:last-child > .oo-ui-buttonElement-button {
					border-radius: 0 0 @border-radius-base @border-radius-base;
				}
			}
		}
	}
}

.theme-oo-ui-processDialog () {
	&-content {
		.oo-ui-window-head {
			height: 3.4em;
		}

		.oo-ui-window-body {
			top: 3.4em;
			box-shadow: 0 0 0.33em rgba( 0, 0, 0, 0.33 );
		}
	}

	&-navigation {
		position: relative;
		height: 3.4em;
		padding: 0 1em;
	}

	&-location {
		padding: 0.75em 0;
		height: @size-icon;
		cursor: default;
		text-align: center;
	}

	&-title {
		font-weight: bold;
		line-height: @size-icon;
	}

	&-actions {
		&-safe,
		&-primary,
		&-other {
			.oo-ui-actionWidget {
				.oo-ui-buttonElement-button {
					min-width: @size-icon;
					min-height: @size-icon;
				}

				.oo-ui-labelElement-label {
					line-height: @size-icon;
				}

				&.oo-ui-iconElement .oo-ui-iconElement-icon {
					margin-top: -0.125em;
				}

				&.oo-ui-buttonElement-framed {
					margin: 0.75em;

					.oo-ui-buttonElement-button {
						padding: 0 1em;
						vertical-align: middle;
						// Adjust for border so text aligns with title
						margin: -1px;
					}
				}

				&.oo-ui-buttonElement-frameless {
					margin: 0;
					.oo-ui-buttonElement-button {
						padding: 0.75em 1em;
						vertical-align: middle;
					}
				}
			}
		}

		&-safe,
		&-primary {
			.oo-ui-actionWidget {
				&:hover {
					background-color: rgba( 0, 0, 0, 0.05 );
				}

				&:active {
					background-color: rgba( 0, 0, 0, 0.1 );
				}

				&.oo-ui-flaggedElement {
					&-progressive {
						&:hover {
							background-color: rgba( 8, 126, 204, 0.05 );
						}

						&:active {
							background-color: rgba( 8, 126, 204, 0.1 );
						}

						.oo-ui-labelElement-label {
							font-weight: bold;
						}
					}

					&-destructive {
						&:hover {
							background-color: rgba( 212, 83, 83, 0.05 );
						}

						&:active {
							background-color: rgba( 212, 83, 83, 0.1 );
						}
					}
				}
			}
		}

		&-other {
			.oo-ui-actionWidget {
				&.oo-ui-buttonElement {
					margin-right: 0;
				}
			}
		}
	}

	> .oo-ui-window-frame {
		min-height: 5em;
	}

	&-errors {
		background-color: rgba( 255, 255, 255, 0.9 );
		padding: 3em 3em 1.5em 3em;
		text-align: center;

		.oo-ui-buttonWidget {
			margin: 2em 1em 2em 1em;
		}

		&-title {
			font-size: 1.5em;
			color: #000;
			margin-bottom: 2em;
		}
	}

	&-error {
		text-align: left;
		margin: 1em;
		padding: 1em;
		border: 1px solid #ff9e9e;
		background-color: #fff7f7;
		border-radius: @border-radius-base;
	}
}

.theme-oo-ui-windowManager () {
	&-modal > .oo-ui-dialog {
		background-color: rgba( 255, 255, 255, 0.5 );
		opacity: 0;
		.oo-ui-transition( opacity @transition-ease-medium );

		> .oo-ui-window-frame {
			background-color: #fff;
			opacity: 0;
			.oo-ui-transform( scale( 0.5 ) );
			.oo-ui-transition( all @transition-ease-medium );
		}

		&.oo-ui-window-setup {
			// Fade window overlay
			opacity: 1;

			> .oo-ui-window-frame {
				// Fade frame
				opacity: 1;
				.oo-ui-transform( scale( 1 ) );
			}
		}
	}

	&-modal&-floating > .oo-ui-dialog > .oo-ui-window-frame {
		top: 1em;
		bottom: 1em;
		max-height: 100%;
		max-height: e( 'calc( 100% - 2em )' );
		border: @border-base;
		border-radius: @border-radius-base;
		box-shadow: 0 0.2em 1em rgba( 0, 0, 0, 0.3 );
	}
}
