// to work, this file needs to have community colors defined before it's imported
//   @color-page
//   @color-buttons
//   @color-links

@themed-page-background: @color-page;
@themed-button-background: @color-buttons;
@themed-link-color: @color-links;

@is-dark-theme: boolean(luma(@themed-page-background) < 50%);
@is-dark-button: boolean(luma(@themed-button-background) < 50%);
@is-dark-link: boolean(luma(@themed-link-color) < 50%);

@white: #fff;
@black: #000;
@text-color--light: #d5d4d4;
@text-color--dark: #3a3a3a;
@button-label--light: @white;
@button-label--dark: @wds-fandom-color-black;

@themed-page-background-color--fadeout: if(
	luma(@themed-page-background) > 231,
	@white,
	if(@is-dark-theme, mix(@themed-page-background, @white, 85%), mix(@themed-page-background, @black, 95%))
);

@themed-text-color: if(@is-dark-theme, @text-color--light, @text-color--dark);
@themed-text-color--hover: if(@is-dark-theme, darken(@themed-text-color, 20%), darken(@themed-text-color, 20%));
@themed-text-color--secondary: fadeout(@themed-text-color, 50%);

@themed-button-label: if(@is-dark-button, @button-label--light, @button-label--dark);
@themed-button-background--hover: if(
	@is-dark-button,
	lighten(@themed-button-background, 20%),
	darken(@themed-button-background, 20%)
);

@themed-link-color--hover: if(@is-dark-link, lighten(@themed-link-color, 20%), darken(@themed-link-color, 20%));
@themed-link-color--fadeout: fadeout(@themed-link-color, 90%);
@themed-link--label: if(@is-dark-link, @button-label--light, @button-label--dark);

@themed-border-color: mix(@themed-page-background, if(@is-dark-theme, @white, @black), 80%);
@themed-overlay-color: if(@is-dark-theme, rgba(@white, 0.5), rgba(@black, 0.5));

// alert / warning / success / message
// TODO: adjust till contrast ratio is 3:1
@mix-color: if(@is-dark-theme, #fff, #000);
@mix-weight: 90%;

@themed-alert-color: mix(@wds-color-alert, @mix-color, @mix-weight);
@is-dark-color: boolean(luma(@themed-alert-color) < 50%);
@themed-alert-color--hover: if(@is-dark-color, lighten(@themed-alert-color, 20%), darken(@themed-alert-color, 20%));
@themed-alert-color--label: if(@is-dark-color, @button-label--light, @button-label--dark);
@themed-alert-color--fadeout: fadeout(@themed-alert-color, 90%);

@themed-warning-color: mix(@wds-color-warning, @mix-color, @mix-weight);
@themed-success-color: mix(@wds-color-success, @mix-color, @mix-weight);
@themed-notice-color: mix(@wds-color-message, @mix-color, @mix-weight);

// toolbar
@toolbar-text-color: if(@is-dark-theme, @white, @wds-fandom-color-black);
@toolbar-separator-color: mix(@themed-page-background, if(@is-dark-theme, @white, @black), 50%);
