@import 'common';

.theme-oo-ui-element () {}

.theme-oo-ui-buttonElement () {
	> .oo-ui-buttonElement-button {
		position: relative;
		border-radius: @border-radius-base;
		font-weight: bold;
		text-decoration: none;

		&:focus {
			outline: 0;
		}

		> .oo-ui-iconElement-icon,
		> .oo-ui-indicatorElement-indicator {
			position: absolute;
			top: 0;
			height: 100%;
		}
	}

	&.oo-ui-iconElement {
		> .oo-ui-buttonElement-button {
			> .oo-ui-iconElement-icon {
				display: block;
			}
		}
	}

	// ButtonInputWidget's `<input>`
	> input.oo-ui-buttonElement-button {
		-webkit-appearance: none; // Support: iOS Safari
	}

	&.oo-ui-labelElement {
		> .oo-ui-buttonElement-button {
			line-height: @line-height-reset;
		}

		> input.oo-ui-buttonElement-button,
		> .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
			line-height: @line-height-widget-singleline;
		}

		&.oo-ui-indicatorElement {
			> .oo-ui-buttonElement-button {
				padding-right: @padding-start-indicator-plus;
			}
		}
	}

	&.oo-ui-indicatorElement {
		// Indicator (-only)
		> .oo-ui-buttonElement-button {
			> .oo-ui-indicatorElement-indicator {
				display: block;
			}
		}

		// Indicator and label/icon
		&.oo-ui-labelElement,
		&.oo-ui-iconElement {
			> .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator {
				right: @padding-horizontal-base;
			}
		}
	}

	&.oo-ui-widget-enabled {
		> .oo-ui-buttonElement-button {
			.oo-ui-transition(
				background-color @transition-ease-quick,
				color @transition-ease-quick,
				border-color @transition-ease-quick,
				box-shadow @transition-ease-quick
			);

			> .oo-ui-iconElement-icon,
			> .oo-ui-indicatorElement-indicator {
				opacity: @opacity-icon-base;
				.oo-ui-transition(
					opacity @transition-ease-quick
				);

				&.oo-ui-image-invert {
					opacity: @opacity-icon-base--selected;
				}
			}

			&:hover {
				> .oo-ui-iconElement-icon,
				> .oo-ui-indicatorElement-indicator {
					opacity: @opacity-icon-base--hover;

					&.oo-ui-image-invert {
						opacity: @opacity-icon-base--selected;
					}
				}
			}
		}

		&.oo-ui-buttonElement-pressed {
			> .oo-ui-buttonElement-button {
				> .oo-ui-iconElement-icon,
				> .oo-ui-indicatorElement-indicator {
					opacity: @opacity-icon-base--selected;
				}
			}
		}
	}

	&-frameless {
		// Icon (-only) frameless
		&.oo-ui-iconElement {
			&:first-child {
				margin-left: @start-frameless; // Address `left` on `.oo-ui-iconElement-icon` below with negative value
			}

			> .oo-ui-buttonElement-button {
				min-width: @size-icon;
				min-height: @size-icon;
				border-color: @border-color-frameless-fallback; // Support IE 6: `transparent` is not rendered correctly
				border-color: @border-color-frameless;
				border-style: @border-style-base;
				border-width: @border-width-base;
				padding-top: @padding-top-icon-indicator; // Support IE 7: Acts as `min-width`
				padding-left: @padding-start-frameless-icon-only;

				> .oo-ui-iconElement-icon {
					left: @start-frameless-icon;
				}
			}
		}

		&.oo-ui-labelElement {
			&:first-child {
				margin-left: -@padding-horizontal-frameless; // Address `padding-left/-right` below
			}

			&.oo-ui-iconElement {
				&:first-child {
					margin-left: @start-frameless;
				}

				> .oo-ui-buttonElement-button {
					padding-left: @padding-start-frameless-icon-only;
				}
			}

			> .oo-ui-buttonElement-button {
				border-color: @border-color-frameless-fallback; // Support IE 6: `transparent` is not rendered correctly
				border-color: @border-color-frameless;
				border-style: @border-style-base;
				border-width: @border-width-base;
				padding: @padding-frameless;
			}
		}

		&.oo-ui-indicatorElement {
			> .oo-ui-buttonElement-button {
				min-width: @min-size-indicator;
				min-height: @min-size-indicator;
			}
		}

		&.oo-ui-widget-enabled {
			> .oo-ui-buttonElement-button {
				color: @color-base;

				&:hover {
					color: @color-base--hover;
				}
			}

			&.oo-ui-iconElement,
			&.oo-ui-labelElement {
				> .oo-ui-buttonElement-button:focus {
					border-color: @border-color-base--focus;
					box-shadow: @box-shadow-widget--focus;

					&:active {
						border-color: @border-color-frameless-fallback;
						border-color: @border-color-frameless;
						box-shadow: none;
					}
				}
			}

			&.oo-ui-indicatorElement:not( .oo-ui-iconElement ):not( .oo-ui-labelElement ) { // IE 9+ only on non-critical design properties
				> .oo-ui-buttonElement-button {
					border-radius: @border-radius-frameless-indicator;

					&:focus {
						box-shadow: @box-shadow-frameless-indicator--focus;

						&:active {
							box-shadow: none;
						}
					}
				}
			}

			&.oo-ui-buttonElement-pressed > input.oo-ui-buttonElement-button,
			& > .oo-ui-buttonElement-button:active {
				color: @color-base--active;
				border-color: @border-color-frameless-fallback; // Support IE 6: `transparent` is not rendered correctly
				border-color: @border-color-frameless;
				box-shadow: none;
			}

			&.oo-ui-flaggedElement {
				&-progressive {
					.mw-frameless-button-colored( ~'.oo-ui-buttonElement-button',  @color-progressive, @color-progressive--hover, @color-progressive--active, @color-progressive--focus );
				}

				// Deprecated in 0.16.1, see T110555
				&-constructive {
					.mw-frameless-button-colored( ~'.oo-ui-buttonElement-button', @color-progressive, @color-progressive--hover, @color-progressive--active, @color-progressive--focus );
				}

				&-destructive {
					.mw-frameless-button-colored( ~'.oo-ui-buttonElement-button', @color-destructive, @color-destructive--hover, @color-destructive--active, @color-destructive--focus );
				}
			}

			&[class*='oo-ui-flaggedElement'] {
				> .oo-ui-buttonElement-button {
					> .oo-ui-iconElement-icon,
					> .oo-ui-indicatorElement-indicator {
						opacity: @opacity-icon-base--selected;
					}
				}

				> .oo-ui-buttonElement-button:hover {
					> .oo-ui-iconElement-icon,
					> .oo-ui-indicatorElement-indicator {
						opacity: @opacity-icon-base--hover;
					}
				}
			}
		}

		&.oo-ui-widget-disabled {
			> .oo-ui-buttonElement-button {
				color: @color-base--disabled;

				> .oo-ui-iconElement-icon,
				> .oo-ui-indicatorElement-indicator {
					opacity: @opacity--disabled;
				}
			}
		}
	}

	&-framed {
		> .oo-ui-buttonElement-button {
			border-style: @border-style-base;
			border-width: @border-width-base;
			border-radius: @border-radius-base;
			padding-left: @padding-horizontal-base;
			padding-right: @padding-horizontal-base;
		}

		&.oo-ui-iconElement {
			// Icon (-only) framed
			> .oo-ui-buttonElement-button {
				padding-top: @padding-top-icon-indicator;
				padding-bottom: 0;
				padding-left: @padding-start-icon-only;

				> .oo-ui-iconElement-icon {
					left: @start-framed-icon-only;
				}
			}

			// Icon and label/indicator framed
			&.oo-ui-labelElement,
			&.oo-ui-indicatorElement {
				> .oo-ui-buttonElement-button {
					padding-left: @padding-start-input-text-icon-label;

					> .oo-ui-iconElement-icon {
						left: @padding-start-input-text-icon;
					}
				}
			}
		}

		&.oo-ui-indicatorElement {
			// Indicator (-only) framed
			> .oo-ui-buttonElement-button {
				padding-top: @padding-top-icon-indicator;
				padding-right: @padding-start-indicator-only;
				padding-bottom: 0;

				> .oo-ui-indicatorElement-indicator {
					right: @start-framed-indicator-only;
				}
			}

			// Indicator and label/icon framed
			&.oo-ui-labelElement,
			&.oo-ui-iconElement {
				> .oo-ui-buttonElement-button {
					padding-right: @padding-start-indicator-plus;
				}
			}
		}

		&.oo-ui-labelElement {
			> .oo-ui-buttonElement-button {
				padding-top: @padding-top-base;
				padding-bottom: @padding-bottom-base;
			}
		}

		&.oo-ui-widget-disabled {
			> .oo-ui-buttonElement-button {
				background-color: @background-color-filled--disabled;
				color: @color-filled--disabled;
				border-color: @border-color-base--disabled;
			}
		}

		&.oo-ui-widget-enabled {
			> .oo-ui-buttonElement-button {
				background-color: @background-color-framed;
				color: @color-base;
				border-color: @border-color-base;

				&:hover {
					background-color: @background-color-framed--hover;
					color: @color-base--hover;
					border-color: @border-color-base--hover;
				}

				&:focus {
					border-color: @border-color-base--focus;
					box-shadow: @box-shadow-widget--focus;
				}
			}

			> .oo-ui-buttonElement-button:active,
			> .oo-ui-buttonElement-button:active:focus,
			&.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
				background-color: @background-color-framed--active;
				color: @color-base--active;
				border-color: @border-color-base--active;
				box-shadow: none;
			}

			&.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
				background-color: @color-progressive--active;
				color: @color-base--inverted;
				border-color: @border-color-input-binary--active;

				&:focus {
					border-color: @color-progressive--focus;
					box-shadow: @box-shadow-progressive--focus;
				}
			}

			&.oo-ui-flaggedElement {
				&-progressive {
					.mw-framed-button-colored( ~'.oo-ui-buttonElement-button', @color-progressive, @background-color-framed--hover, @border-color-framed-progressive--hover, @color-progressive--active, @color-progressive--focus );
				}

				// Deprecated in 0.16.1
				&-constructive {
					.mw-framed-button-colored( ~'.oo-ui-buttonElement-button', @color-progressive, @background-color-framed--hover, @border-color-framed-progressive--hover, @color-progressive--active, @color-progressive--focus );
				}

				&-destructive {
					.mw-framed-button-colored( ~'.oo-ui-buttonElement-button', @color-destructive-non-primary, @background-color-framed--hover, @border-color-framed-destructive--hover, @color-destructive--active, @color-destructive--focus );
				}
			}

			&.oo-ui-flaggedElement-primary {
				&.oo-ui-flaggedElement {
					&-progressive {
						.mw-framed-primary-button-colored( ~'.oo-ui-buttonElement-button', @color-progressive, @color-progressive--hover, @color-progressive--active, @color-progressive--focus );
					}

					// Deprecated in 0.16.1
					&-constructive {
						.mw-framed-primary-button-colored( ~'.oo-ui-buttonElement-button', @color-progressive, @color-progressive--hover, @color-progressive--active, @color-progressive--focus );
					}

					&-destructive {
						.mw-framed-primary-button-colored( ~'.oo-ui-buttonElement-button', @color-destructive, @color-destructive--hover, @color-destructive--active, @color-destructive--focus );
					}
				}

				> .oo-ui-buttonElement-button {
					> .oo-ui-iconElement-icon,
					> .oo-ui-indicatorElement-indicator {
						opacity: @opacity-icon-base--selected;
					}
				}
			}
		}
	}
}

.theme-oo-ui-clippableElement () {}

.theme-oo-ui-draggableElement () {}

.theme-oo-ui-draggableGroupElement () {}

.theme-oo-ui-flaggedElement () {}

.theme-oo-ui-floatableElement () {}

.theme-oo-ui-groupElement () {}

.theme-oo-ui-iconElement () {}

.theme-oo-ui-indicatorElement () {}

.theme-oo-ui-labelElement () {
	.oo-ui-labelElement-label-highlight {
		font-weight: bold;
	}
}

.theme-oo-ui-lookupElement () {}

.theme-oo-ui-pendingElement () {
	&-pending {
		.oo-ui-background-image( '@{oo-ui-default-image-path}/textures/pending.gif' );
	}
}

.theme-oo-ui-popupElement () {}

.theme-oo-ui-tabIndexedElement () {}

.theme-oo-ui-titledElement () {}
