@import '../common';

.oo-ui-barToolGroup {
	> .oo-ui-iconElement-icon,
	> .oo-ui-labelElement-label {
		display: none;
	}

	> .oo-ui-toolGroup-tools > .oo-ui-tool {
		display: inline-block;
		position: relative;
		vertical-align: top;

		> .oo-ui-tool-link {
			display: block;

			.oo-ui-iconElement-icon {
				display: block;
			}

			.oo-ui-tool-accel,
			.oo-ui-tool-title {
				display: none;
			}
		}

		&.oo-ui-widget-disabled > .oo-ui-tool-link {
			cursor: default;
		}

		> .oo-ui-tool-link > .oo-ui-tool-title,
		> .oo-ui-tool-link > .oo-ui-tool-accel {
			display: none;
		}
	}

	&.oo-ui-widget-enabled > .oo-ui-toolGroup-tools > .oo-ui-tool {
		> .oo-ui-tool-link {
			cursor: pointer;
		}
	}

	.theme-oo-ui-barToolGroup();
}
