@import '../common';

.oo-ui-barToolGroup {
	> .oo-ui-toolGroup-tools > .oo-ui-tool {
		display: inline-block;
		position: relative;
		vertical-align: top;

		> .oo-ui-tool-link {
			display: block;

			.oo-ui-tool-accel {
				display: none;
			}
		}

		&.oo-ui-iconElement > .oo-ui-tool-link {
			.oo-ui-iconElement-icon {
				display: inline-block;
				vertical-align: top;
			}

			.oo-ui-tool-title {
				display: none;
			}
		}

		&.oo-ui-iconElement.oo-ui-tool-with-label > .oo-ui-tool-link {
			.oo-ui-tool-title {
				display: inline;
			}
		}
	}

	.theme-oo-ui-barToolGroup();
}
