@import '../common';

.oo-ui-popupToolGroup {
	position: relative;

	&-handle {
		display: block;
		cursor: pointer;

		.oo-ui-labelElement-label:not( :empty ) {
			display: inline-block;
		}
	}

	&.oo-ui-widget-disabled {
		.oo-ui-popupToolGroup-handle {
			outline: 0;
			cursor: default;
		}
	}

	&-tools {
		display: none;
		position: absolute;
		z-index: 4;
	}

	&-tools&-active-tools {
		display: block;
	}

	&-tools .oo-ui-tool-link {
		display: table;
		width: 100%;
		vertical-align: middle;
		white-space: nowrap;

		.oo-ui-tool-accel,
		.oo-ui-tool-title {
			display: table-cell;
			vertical-align: middle;
		}

		.oo-ui-tool-accel {
			text-align: right;
		}
	}

	.theme-oo-ui-popupToolGroup();
}
