@import 'wds-variables/index';

@color-page: @wds-fandom-color-navy;
@color-buttons: #ffc0e6;

body.oo-ui-theme-fandom {
	background-color: @color-page;
	color: @color-text;
	font-family: @wds-font-family;
	font-size: @wds-font-size-s;

	.demo-header {
		background-color: @color-page;
	}

	h1,
	h2,
	h2 span {
		color: inherit;
	}
}

@import 'theming/index';
