@import 'common.less';
@import 'mixins/flex-button';

@tool-v-padding: 6px;
@tool-h-padding: 10px;
@tool-h-gap: 4px;
@fade-out-fandom-color: fadeout(@wds-fandom-color-link, 90%);

.theme-oo-ui-toolbar() {
	&-bar {
		background-color: @wds-fandom-color-light-gray;
		padding: 12px 5px;

		.oo-ui-toolbar-position-top > & {
			border-bottom: 1px solid @wds-fandom-color-mid-light-gray;
		}

		.oo-ui-toolbar-position-bottom > & {
			border-top: 1px solid @wds-fandom-color-mid-light-gray;
		}

		.oo-ui-toolbar-bar {
			background-color: transparent;
			border: 0;
		}
	}

	&-tools {
		display: inline-block;
	}
}

.theme-oo-ui-tool() {
	.flex-button(~'.oo-ui-tool-link', @tool-v-padding, @tool-h-padding, @tool-h-gap);

	.oo-ui-tool-link {
		border-radius: @wds-rounded-corner-radius;

		.oo-ui-transition(background-color @transition-base, color @transition-base);

		&:hover,
		&:active,
		&:focus {
			background-color: @fade-out-fandom-color;
			color: @wds-fandom-color-link;
		}
	}

	&.oo-ui-widget-enabled {
		&.oo-ui-flaggedElement {
			&-progressive {
				.oo-ui-tool-link {
					border: 1px solid currentColor;
					color: @wds-fandom-color-link;

					&:hover,
					&:active,
					&:focus {
						background-color: transparent;
						color: @wds-fandom-color-link-hover;
					}
				}
			}

			&-destructive {
				.oo-ui-tool-link {
					border: 1px solid currentColor;
					color: @wds-color-alert;

					&:hover,
					&:active,
					&:focus {
						background-color: transparent;
						color: darken(@wds-color-alert, 20%);
					}
				}
			}
		}

		&.oo-ui-flaggedElement-primary {
			&.oo-ui-flaggedElement {
				&-progressive {
					.oo-ui-tool-link {
						background-color: @wds-fandom-color-link;
						border-color: @wds-fandom-color-link;
						color: @wds-color-white;

						&:hover,
						&:active,
						&:focus {
							background-color: @wds-fandom-color-link-hover;
							border-color: @wds-fandom-color-link-hover;
						}
					}
				}

				&-destructive {
					.oo-ui-tool-link {
						background-color: @wds-color-alert;
						border-color: @wds-color-alert;
						color: @wds-color-white;

						&:hover,
						&:active,
						&:focus {
							background-color: darken(@wds-color-alert, 20%);
							border-color: darken(@wds-color-alert, 20%);
						}
					}
				}
			}
		}
	}

	&.oo-ui-widget-disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.theme-oo-ui-popupTool() {
}

.theme-oo-ui-toolGroupTool() {
	> .oo-ui-toolGroup {
		border-right: 0;
	}
}

.theme-oo-ui-toolGroup() {
	border-right: 1px solid @wds-fandom-color-dark-gray;
	padding: 0 12px;

	.oo-ui-toolGroup {
		padding: 0;
	}

	.oo-ui-toolbar-actions & {
		border-left: 1px solid @wds-fandom-color-dark-gray;
		border-right: 0;

		&.oo-ui-barToolGroup {
			border-right: 0;
		}
	}
}

.theme-oo-ui-barToolGroup() {
	&-tools > .oo-ui-tool {
		> .oo-ui-tool-link {
			display: inline-flex;
		}
	}
}

.theme-oo-ui-listToolGroup() {
	&-tools .oo-ui-tool {
		&.oo-ui-widget-enabled {
			&:hover .oo-ui-tool-link,
			&.oo-ui-tool-active .oo-ui-tool-link {
				background-color: @fade-out-fandom-color;
				color: @wds-fandom-color-link;

				.oo-ui-tool-accel {
					color: currentColor;
				}
			}
		}
	}
}

.theme-oo-ui-menuToolGroup() {
}

.theme-oo-ui-popupToolGroup() {
	.flex-button(~'.oo-ui-popupToolGroup-handle', @tool-v-padding, @tool-h-padding, @tool-h-gap);

	.oo-ui-popupToolGroup-handle {
		border-radius: @wds-rounded-corner-radius;
	}

	&-header {
		color: @wds-fandom-color-middle-gray;
		font-weight: @wds-font-weight-bold;
	}

	&-tools {
		background-color: @wds-color-white;
		border-radius: @wds-dropdown-border-radius;
		box-shadow: 0 3px 12px 0 rgba(@wds-fandom-color-black, 0.3);
		min-width: 16em;

		&.oo-ui-popupToolGroup-active-tools {
			padding: 7px 0;
		}

		> .oo-ui-tool {
			margin: 0 9px;
		}

		.oo-ui-tool-link {
			border-radius: 0;
			display: flex;
			font-weight: @wds-font-weight-normal;
			justify-content: space-between;
			line-height: @wds-line-height-none;
			padding: 9px 7px;
			text-transform: none;
			width: auto;

			.oo-ui-tool-accel {
				color: @wds-fandom-color-middle-gray;
				display: initial;
				flex-grow: 1;
				line-height: @line-height-base;

				&:not(:empty) {
					// Push away from tool's title
					padding-left: 18px;
				}
			}
		}
	}

	&.oo-ui-widget-enabled {
		> .oo-ui-popupToolGroup-handle {
			.oo-ui-transition(background-color @transition-base, color @transition-base);

			&:hover,
			&:active,
			&:focus {
				background-color: @fade-out-fandom-color;
				color: @wds-fandom-color-link;
			}
		}
	}

	&.oo-ui-widget-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.oo-ui-popupToolGroup-active {
		> .oo-ui-popupToolGroup-handle {
			background-color: @fade-out-fandom-color;
			color: @wds-fandom-color-link;
		}
	}

	&-tools .oo-ui-tool.oo-ui-widget-enabled .oo-ui-tool-link:focus {
		outline: 0;
	}
}
