@import '../common';

.oo-ui-actionFieldLayout {
	&-input,
	&-button {
		display: table-cell;
		vertical-align: middle;
	}

	&-input {
		padding-right: 1em;
	}

	&-button {
		width: 1%;
		white-space: nowrap;
	}

	.theme-oo-ui-actionFieldLayout();
}
