@import '../common';

.oo-ui-horizontalLayout {
	> .oo-ui-widget {
		display: inline-block;
		vertical-align: middle;
	}

	> .oo-ui-layout {
		display: inline-block;
	}

	.theme-oo-ui-horizontalLayout();
}
