.flex-button( @parent-selector, @v-padding: @wds-button-vertical-padding, @h-padding: @wds-button-horizontal-padding, @h-gap: @wds-button-horizontal-gap ) {
	@{parent-selector} {
		align-items: center;
		display: inline-flex;
		font-size: @wds-font-size-xs;
		font-weight: @wds-font-weight-bold;
		justify-content: center;
		letter-spacing: 0.15px;
		line-height: @wds-line-height-normal;
		padding: @v-padding @h-padding - @h-gap;
		text-decoration: none;
		text-transform: uppercase;
		.oo-ui-transition(background-color @transition-base, color @transition-base, border-color @transition-base);

		&:focus {
			outline: 0;
		}

		> * {
			margin: 0 @h-gap;
		}
	}

	&:not(.oo-ui-indicatorElement) > * > .oo-ui-indicatorElement-indicator,
	&:not(.oo-ui-labelElement) > * > .oo-ui-labelElement-label,
	&:not(.oo-ui-iconElement) > * > .oo-ui-iconElement-icon {
		margin: 0;
		min-width: 0;
		width: 0;
	}
}
