{
	"extends": "stylelint-config-wikimedia",
	"overrides": [
		{
			"files": [
				"**/*.(less|css|html)"
			],
			"customSyntax": "postcss-less",
			"rules": {
				"no-descending-specificity": null,
				"selector-class-pattern": "^(oo-ui|demo)-"
			}
		}
	]
}
