.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
  color: #6d6d6d;
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
  color: #6d6d6d;
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  color: #e81a3f;
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
  color: #f1778d;
}
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active) > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
  color: #6d6d6d;
}
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
  color: #6d6d6d;
}
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  color: #e81a3f;
}
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed:not(.oo-ui-flaggedElement-primary):not(.oo-ui-buttonElement-active).oo-ui-widget-enabled.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
  color: #f1778d;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  background-color: #088488;
  border-color: #088488;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
  background-color: #0ee1e8;
  border-color: #0ee1e8;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  background-color: #e81a3f;
  border-color: #e81a3f;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
  background-color: #8e0e25;
  border-color: #8e0e25;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
  background-color: #088488;
  border-color: #088488;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
  background-color: #088488;
  border-color: #088488;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  background-color: #088488;
  border-color: #088488;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
  background-color: #088488;
  border-color: #088488;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  background-color: #e81a3f;
  border-color: #e81a3f;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
  background-color: #e81a3f;
  border-color: #e81a3f;
}
.oo-ui-pendingElement-pending {
  background-color: rgba(242, 245, 245, 0.8);
  background-image: linear-gradient(135deg, #e6e9e9 25%, transparent 25%, transparent 50%, #e6e9e9 50%, #e6e9e9 75%, transparent 75%, transparent);
}
.oo-ui-panelLayout-framed {
  border-color: #b6b8b8;
}
.oo-ui-fieldLayout-messages-alert {
  color: #e81a3f;
}
.oo-ui-fieldLayout-messages-warning {
  color: #de5e33;
}
.oo-ui-fieldLayout-messages-success {
  color: #018c30;
}
.oo-ui-fieldLayout-messages-notice {
  color: #008c8f;
}
.oo-ui-bookletLayout > .oo-ui-menuLayout-menu {
  border-right-color: #b6b8b8;
}
.oo-ui-messageDialog-content > .oo-ui-window-foot {
  outline-color: #b6b8b8;
}
.oo-ui-messageDialog-actions-vertical .oo-ui-actionWidget {
  border-bottom-color: #b6b8b8;
}
.oo-ui-processDialog-content .oo-ui-window-head,
.oo-ui-processDialog-content .oo-ui-window-foot {
  outline-color: #b6b8b8;
}
.oo-ui-processDialog .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:hover,
.oo-ui-processDialog .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:focus,
.oo-ui-processDialog .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:active {
  border-right-color: #b6b8b8;
}
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget > .oo-ui-buttonElement-button {
  border-left-color: #b6b8b8;
}
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:hover,
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:focus,
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:active {
  border-left-color: #b6b8b8;
}
.oo-ui-processDialog-actions-safe .oo-ui-actionWidget > .oo-ui-buttonElement-button,
.oo-ui-processDialog-actions-other .oo-ui-actionWidget > .oo-ui-buttonElement-button {
  border-right-color: #b6b8b8;
}
.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:hover,
.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:active,
.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:focus {
  background-color: #e6e9e9;
}
.oo-ui-processDialog-errors {
  background-color: #e6e9e9;
}
.oo-ui-processDialog-error {
  background-color: rgba(232, 26, 63, 0.15);
  border-color: #e81a3f;
}
.oo-ui-windowManager-modal > .oo-ui-dialog {
  background-color: rgba(0, 0, 0, 0.5);
}
.oo-ui-windowManager-modal > .oo-ui-dialog > .oo-ui-window-frame {
  background-color: #fff;
}
.oo-ui-toolbar-bar {
  background-color: #e6e9e9;
  border-color: #b6b8b8;
  color: #0e191a;
}
.oo-ui-tool .oo-ui-tool-link:hover,
.oo-ui-tool .oo-ui-tool-link:focus {
  background-color: rgba(255, 119, 109, 0.15);
}
.oo-ui-tool .oo-ui-tool-link:active,
.oo-ui-tool .oo-ui-tool-link:active:hover {
  background-color: rgba(255, 24, 7, 0.15);
  color: #ff776d;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link {
  color: #ff776d;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link:focus {
  color: #ffd6d3;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link {
  color: #e81a3f;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link:focus {
  color: #f1778d;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link {
  background-color: #088488;
  border-color: #088488;
  color: #fff;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link:focus {
  background-color: #0ee1e8;
  border-color: #0ee1e8;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link {
  background-color: #e81a3f;
  border-color: #e81a3f;
  color: #fff;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link:focus {
  background-color: #8e0e25;
  border-color: #8e0e25;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-tool-active .oo-ui-tool-link {
  background-color: rgba(255, 24, 7, 0.15);
  color: #ff776d;
}
.oo-ui-toolGroup {
  border-right-color: #797b7b;
}
.oo-ui-toolbar-actions .oo-ui-toolGroup {
  border-left-color: #797b7b;
}
.oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-enabled:hover .oo-ui-tool-link {
  background-color: rgba(255, 119, 109, 0.15);
  color: #ff776d;
}
.oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-enabled.oo-ui-tool-active .oo-ui-tool-link {
  background-color: rgba(255, 24, 7, 0.15);
  color: #ff776d;
}
.oo-ui-popupToolGroup-header {
  color: rgba(58, 58, 58, 0.6);
}
.oo-ui-popupToolGroup-tools {
  background-color: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}
.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:hover,
.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:focus {
  background-color: rgba(255, 119, 109, 0.15);
}
.oo-ui-popupToolGroup.oo-ui-popupToolGroup-active > .oo-ui-popupToolGroup-handle,
.oo-ui-popupToolGroup.oo-ui-popupToolGroup-active > .oo-ui-popupToolGroup-handle:hover {
  background-color: rgba(255, 24, 7, 0.15);
  color: #ff776d;
}
.oo-ui-buttonGroupWidget .oo-ui-buttonElement-framed.oo-ui-widget-disabled + .oo-ui-widget-disabled > .oo-ui-buttonElement-button {
  border-left-color: rgba(182, 184, 184, 0.5);
}
.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-toggleWidget-on + .oo-ui-toggleWidget-on > .oo-ui-buttonElement-button,
.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-toggleWidget-on + .oo-ui-toggleWidget-on > .oo-ui-buttonElement-button:active {
  border-left-color: #b6b8b8;
}
.oo-ui-buttonSelectWidget .oo-ui-buttonOptionWidget.oo-ui-widget-disabled + .oo-ui-widget-disabled > .oo-ui-buttonElement-button {
  border-left-color: rgba(182, 184, 184, 0.5);
}
.oo-ui-checkboxInputWidget {
  color: #ff776d;
}
.oo-ui-checkboxInputWidget [type='checkbox'] + span,
.oo-ui-checkboxInputWidget [type='checkbox']:indeterminate + span::before,
.oo-ui-checkboxInputWidget [type='checkbox']:disabled + span,
.oo-ui-checkboxInputWidget [type='checkbox']:checked:disabled + span,
.oo-ui-checkboxInputWidget [type='checkbox']:checked:disabled + span::before {
  border-color: #b6b8b8;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:focus + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:hover + span {
  border-color: currentColor;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:active + span {
  background-color: currentColor;
  border-color: currentColor;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:focus + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:focus + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:active + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:active + span {
  border-color: currentColor;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:focus + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:focus + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:active + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:active + span::before {
  border-color: currentColor;
}
.oo-ui-dropdownWidget-handle,
.oo-ui-dropdownInputWidget select {
  background-color: #e6e9e9;
  border-color: #b6b8b8;
}
.oo-ui-dropdownWidget-handle.oo-ui-widget-enabled -handle:hover,
.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:hover,
.oo-ui-dropdownWidget-handle.oo-ui-widget-enabled -handle:focus,
.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:focus,
.oo-ui-dropdownWidget-handle.oo-ui-widget-enabled -handle:active,
.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:active {
  border-color: #ff776d;
}
.oo-ui-dropdownWidget-handle.oo-ui-widget-enabled -handle:active,
.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:active {
  box-shadow: inset 0 0 0 1px #ff776d;
}
.oo-ui-dropdownInputWidget select optgroup {
  color: initial;
}
.oo-ui-dropdownInputWidget select optgroup option {
  color: #3a3a3a;
}
.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted {
  background-color: rgba(255, 119, 109, 0.15);
  color: #ff776d;
}
.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
  background-color: rgba(255, 24, 7, 0.15);
  color: #ff776d;
}
.oo-ui-menuSelectWidget {
  background-color: #fff;
  border: #b6b8b8;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}
.oo-ui-outlineControlsWidget {
  background-color: #e6e9e9;
}
.oo-ui-outlineOptionWidget.oo-ui-optionWidget-highlighted {
  background-color: rgba(255, 119, 109, 0.15);
  color: #ff776d;
}
.oo-ui-outlineOptionWidget.oo-ui-optionWidget-selected,
.oo-ui-outlineOptionWidget.oo-ui-optionWidget-pressed {
  background-color: rgba(255, 24, 7, 0.15);
  color: #ff776d;
}
.oo-ui-popupWidget-popup {
  background-color: #fff;
  border: #b6b8b8;
  color: #3a3a3a;
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::before {
  border-bottom-color: #b6b8b8;
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::after {
  border-bottom-color: #fff;
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor::before {
  border-top-color: #b6b8b8;
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor::after {
  border-top-color: #fff;
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor::before {
  border-right-color: #b6b8b8;
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor::after {
  border-right-color: #fff;
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor::before {
  border-left-color: #b6b8b8;
}
.oo-ui-popupWidget-anchored.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor::after {
  border-left-color: #fff;
}
.oo-ui-progressBarWidget {
  background-color: #e6e9e9;
  border-color: #b6b8b8;
}
.oo-ui-progressBarWidget.oo-ui-widget-enabled .oo-ui-progressBarWidget-bar {
  background-color: #ff776d;
}
.oo-ui-progressBarWidget.oo-ui-widget-disabled .oo-ui-progressBarWidget-bar {
  background-color: rgba(0, 0, 0, 0.5);
}
.oo-ui-radioInputWidget [type='radio'] + span,
.oo-ui-radioInputWidget [type='radio']:disabled + span,
.oo-ui-radioInputWidget [type='radio']:checked:disabled + span {
  color: #b6b8b8;
}
.oo-ui-radioInputWidget [type='radio'] + span::before,
.oo-ui-radioInputWidget [type='radio']:disabled + span::before,
.oo-ui-radioInputWidget [type='radio']:checked:disabled + span::before {
  background-color: currentColor;
}
.oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:hover + span,
.oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:checked + span {
  color: #ff776d;
}
.oo-ui-selectFileWidget-dropTarget {
  background-color: #e6e9e9;
  border-color: #b6b8b8;
}
.oo-ui-selectFileWidget.oo-ui-widget-enabled.oo-ui-selectFileWidget-dropTarget:hover {
  border-color: #ff776d;
}
.oo-ui-selectFileWidget.oo-ui-widget-enabled.oo-ui-selectFileWidget-canDrop.oo-ui-selectFileWidget-dropTarget,
.oo-ui-selectFileWidget.oo-ui-widget-enabled.oo-ui-selectFileWidget-canDrop .oo-ui-selectFileInputWidget-info > .oo-ui-inputWidget-input {
  background-color: rgba(255, 119, 109, 0.15);
  color: #ff776d;
}
.oo-ui-tabSelectWidget-framed {
  background-color: transparent;
  border-bottom-color: #ff776d;
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget {
  background-color: #e6e9e9;
  color: #3a3a3a;
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
  background-color: #ff776d;
  color: #fff;
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-widget-enabled:not(.oo-ui-optionWidget-selected):hover {
  color: #ff776d;
}
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget {
  border-bottom-color: #b6b8b8;
}
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected,
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-widget-enabled:active,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget.oo-ui-widget-enabled:active {
  box-shadow: inset 0 -2px 0 0 #ff776d;
  color: #ff776d;
}
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-widget-enabled:hover,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget.oo-ui-widget-enabled:hover {
  color: #ff776d;
}
.oo-ui-tagItemWidget {
  color: #3a3a3a;
}
.oo-ui-tagItemWidget .oo-ui-buttonElement-button {
  color: inherit;
}
.oo-ui-tagItemWidget .oo-ui-buttonElement-button:hover {
  color: #ff776d;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled {
  background-color: transparent;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled:hover,
.oo-ui-tagItemWidget.oo-ui-widget-enabled:focus {
  background-color: rgba(255, 119, 109, 0.15);
  border-color: currentColor;
  color: #ff776d;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled:hover .oo-ui-buttonElement-button,
.oo-ui-tagItemWidget.oo-ui-widget-enabled:focus .oo-ui-buttonElement-button {
  color: #ff776d;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid {
  background-color: rgba(232, 26, 63, 0.15);
  color: #e81a3f;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid:hover,
.oo-ui-tagItemWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid:focus {
  color: #f1778d;
}
.oo-ui-tagMultiselectWidget-handle {
  border-color: #b6b8b8;
}
.oo-ui-tagMultiselectWidget-handle > .oo-ui-tagMultiselectWidget-content > input::placeholder {
  color: #3a3a3a;
  opacity: 0.4;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle {
  background-color: #e6e9e9;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined:hover .oo-ui-tagMultiselectWidget-handle {
  border-color: #ff776d;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined.oo-ui-tagMultiselectWidget-focus .oo-ui-tagMultiselectWidget-handle {
  border-color: #ff776d;
  box-shadow: inset 0 0 0 1px #ff776d;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined.oo-ui-flaggedElement-invalid .oo-ui-tagMultiselectWidget-handle,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined.oo-ui-flaggedElement-invalid:hover .oo-ui-tagMultiselectWidget-handle {
  border-color: #e81a3f;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined .oo-ui-tagMultiselectWidget-handle {
  background-color: #e6e9e9;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input {
  border-color: #e81a3f;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input {
  color: #e81a3f;
}
.oo-ui-tagMultiselectWidget .oo-ui-inputWidget-input {
  color: inherit;
}
.oo-ui-toggleSwitchWidget {
  background-color: #969898;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.oo-ui-toggleSwitchWidget-grip {
  background-color: #fff;
}
.oo-ui-toggleSwitchWidget.oo-ui-toggleWidget-on {
  background-color: #f9b6b1;
}
.oo-ui-toggleSwitchWidget.oo-ui-toggleWidget-on .oo-ui-toggleSwitchWidget-grip {
  background-color: #ff776d;
}
.oo-ui-textInputWidget .oo-ui-inputWidget-input {
  background-color: transparent;
  border-color: #b6b8b8;
  color: #3a3a3a;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
  box-shadow: inset 0 0 0 1px transparent;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input::placeholder {
  color: #3a3a3a;
  opacity: 0.4;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:hover,
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
  border-color: #ff776d;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
  box-shadow: inset 0 0 0 1px #ff776d;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input[readonly]:hover,
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input[readonly]:focus {
  border-color: #b6b8b8;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input {
  border-color: #e81a3f;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input:hover,
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input:focus {
  border-color: #e81a3f;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input:focus {
  box-shadow: inset 0 0 0 1px #e81a3f;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.oo-ui-messageWidget.oo-ui-messageWidget-block > .oo-ui-iconElement-icon {
  color: #fff;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block > .oo-ui-labelElement-label {
  background-color: #fff;
  color: #3a3a3a;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-error {
  background-color: #e81a3f;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-warning {
  background-color: #de5e33;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-success {
  background-color: #018c30;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-notice {
  background-color: #008c8f;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-error {
  color: #e81a3f;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-warning {
  color: #de5e33;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-success {
  color: #018c30;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-notice {
  color: #008c8f;
}
body.oo-ui-theme-fandom {
  background-color: #f2f5f5;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body.oo-ui-theme-fandom .demo-header {
  background-color: #f2f5f5;
}
body.oo-ui-theme-fandom .demo-container.oo-ui-panelLayout {
  border-color: #b6b8b8;
}
body.oo-ui-theme-fandom .oo-ui-formLayout .oo-ui-fieldsetLayout:last-child {
  background-color: #e6e9e9;
  border-color: #b6b8b8;
  border-radius: 3px;
}
body.oo-ui-theme-fandom h1,
body.oo-ui-theme-fandom h2,
body.oo-ui-theme-fandom h2 span {
  color: inherit;
}
body.oo-ui-theme-fandom .demo-theming section {
  background-color: #e6e9e9;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}
body.oo-ui-theme-fandom .demo-theming .theming-header {
  border-bottom: 1px solid #b6b8b8;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  text-align: left;
  width: 100%;
}
body.oo-ui-theme-fandom .demo-theming .theming-header small {
  font-size: 14px;
  font-weight: 400;
}
body.oo-ui-theme-fandom .demo-theming .variable-name {
  background-color: #f2f5f5;
  border: 1px solid #b6b8b8;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 4px;
  padding: 1px 4px;
  white-space: nowrap;
}
body.oo-ui-theme-fandom .demo-theming .color-box {
  align-items: start;
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: 60px 1fr auto;
  margin-bottom: 20px;
}
body.oo-ui-theme-fandom .demo-theming .color-box:last-child {
  margin-bottom: 0;
}
body.oo-ui-theme-fandom .demo-theming .color-box::before {
  border: 1px solid #b6b8b8;
  border-radius: 3px;
  content: '';
  display: block;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.15));
  height: 60px;
  width: 60px;
}
body.oo-ui-theme-fandom .demo-theming .color-box small {
  color: rgba(58, 58, 58, 0.6);
  display: block;
  font-size: 12px;
}
body.oo-ui-theme-fandom .demo-theming .color-box .color-usage {
  background-color: #f2f5f5;
  border: 1px solid #b6b8b8;
  border-radius: 3px;
  font-size: 12px;
  padding: 8px 12px;
  text-align: left;
  width: 300px;
}
body.oo-ui-theme-fandom .demo-theming .color-box .color-usage h3 {
  font-size: 14px;
  margin: 0 0 4px;
}
body.oo-ui-theme-fandom .demo-theming .color-box .color-usage ul {
  margin: 0;
  padding-left: 12px;
}
body.oo-ui-theme-fandom .demo-theming .base-colors {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, auto);
}
body.oo-ui-theme-fandom .demo-theming .base-colors .themed-page-background::before {
  background-color: #f2f5f5;
}
body.oo-ui-theme-fandom .demo-theming .base-colors .themed-link-color::before {
  background-color: #ff776d;
}
body.oo-ui-theme-fandom .demo-theming .base-colors .themed-button-background::before {
  background-color: #088488;
}
body.oo-ui-theme-fandom .demo-theming .base-colors .theming-header {
  grid-column: 1 / -1;
}
body.oo-ui-theme-fandom .demo-theming .base-colors .color-box {
  margin-bottom: 0;
}
body.oo-ui-theme-fandom .demo-theming .special-colors .themed-alert-color::before {
  background-color: #e81a3f;
}
body.oo-ui-theme-fandom .demo-theming .special-colors .themed-success-color::before {
  background-color: #018c30;
}
body.oo-ui-theme-fandom .demo-theming .special-colors .themed-warning-color::before {
  background-color: #de5e33;
}
body.oo-ui-theme-fandom .demo-theming .special-colors .themed-notice-color::before {
  background-color: #008c8f;
}
body.oo-ui-theme-fandom .demo-theming .special-colors-variations .themed-alert-color--fadeout::before {
  background-color: rgba(232, 26, 63, 0.15);
}
body.oo-ui-theme-fandom .demo-theming .special-colors-variations .themed-alert-color--hover::before {
  background-color: #f1778d;
}
body.oo-ui-theme-fandom .demo-theming .boolean-variables .color-box {
  grid-template-columns: 1fr;
}
body.oo-ui-theme-fandom .demo-theming .boolean-variables .color-box::before {
  display: none;
}
body.oo-ui-theme-fandom .demo-theming .background-colors .themed-page-background::before {
  background-color: #f2f5f5;
}
body.oo-ui-theme-fandom .demo-theming .background-colors .themed-page-background--secondary::before {
  background-color: #e6e9e9;
}
body.oo-ui-theme-fandom .demo-theming .background-colors .themed-page-background--windows::before {
  background-color: #fff;
}
body.oo-ui-theme-fandom .demo-theming .text-colors .themed-text-color::before {
  background-color: #3a3a3a;
}
body.oo-ui-theme-fandom .demo-theming .text-colors .themed-text-color--hover::before {
  background-color: #6d6d6d;
}
body.oo-ui-theme-fandom .demo-theming .text-colors .themed-text-color--secondary::before {
  background-color: rgba(58, 58, 58, 0.6);
}
body.oo-ui-theme-fandom .demo-theming .label-colors .themed-link-label::before {
  background-color: #fff;
}
body.oo-ui-theme-fandom .demo-theming .label-colors .themed-button-label::before {
  background-color: #fff;
}
body.oo-ui-theme-fandom .demo-theming .link-colors .themed-link-color::before {
  background-color: #ff776d;
}
body.oo-ui-theme-fandom .demo-theming .link-colors .themed-link-color--hover::before {
  background-color: #ffd6d3;
}
body.oo-ui-theme-fandom .demo-theming .link-colors .themed-link-color--fadeout::before {
  background-color: rgba(255, 119, 109, 0.15);
}
body.oo-ui-theme-fandom .demo-theming .link-colors .themed-link-color--active::before {
  background-color: rgba(255, 24, 7, 0.15);
}
body.oo-ui-theme-fandom .demo-theming .button-colors .themed-button-background::before {
  background-color: #088488;
}
body.oo-ui-theme-fandom .demo-theming .button-colors .themed-button-background--hover::before {
  background-color: #0ee1e8;
}
body.oo-ui-theme-fandom .demo-theming .border-colors .themed-border-color::before {
  background-color: #b6b8b8;
}
body.oo-ui-theme-fandom .demo-theming .other-colors .themed-overlay-color::before {
  background-color: rgba(0, 0, 0, 0.5);
}
body.oo-ui-theme-fandom .demo-theming .other-colors .themed-window-box-shadow::before {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}
body.oo-ui-theme-fandom .demo-theming .toolbar-colors .toolbar-text-color::before {
  background-color: #0e191a;
}
body.oo-ui-theme-fandom .demo-theming .toolbar-colors .toolbar-separator-color::before {
  background-color: #797b7b;
}
