@import url(http://fonts.googleapis.com/css?family=Rubik:300,400,600,700);

html {
	/* Prevent font scaling in iOS Safari */
	-webkit-text-size-adjust: none;
}

body {
	color: #222;
	margin: 0 16px 64px;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* stylelint-disable-line value-keyword-case; */
	/* Enforce scrollbar to reduce reflow when JS kicks in */
	overflow-y: scroll;
}

a:link {
	color: #36c;
}

code,
code[ class*='language-' ],
pre[ class*='language-' ] {
	font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier New', monospace; /* See T209915 */
}

h1 {
	color: #000;
	display: inline-block;
	margin: 0 0 8px 0;
	font-size: 2em; /* Browser default, but for ensured consistent rendering */
}

h2 {
	color: #000;
	display: inline-block;
	margin-left: 8px;
	font-size: 1.143em; /* Equals `16px` at `14px` base font size */
	font-weight: normal;
}

h2 span {
	color: #54595d;
}

p {
	margin: 8px 0;
}

p:first-child {
	margin-top: 0;
}

.oo-ui-theme-wikimediaui {
	/* As WikimediaUI theme is used in MinervaNeue and Vector, we use system fonts to reflect font independent ability of theme. */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* stylelint-disable-line value-keyword-case; */
	font-size: 0.875em;
}

.oo-ui-theme-fandom {
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-size: 0.875em;
}

.oo-ui-theme-apex {
	/* Monobook uses `sans-serif`. Let's reflect this here. */
	font-family: sans-serif;
	font-size: 0.8em;
}

/* Layout */
.demo-root {
	margin: 0 auto;
}

.demo-root,
.demo-header {
	max-width: 68.5713em; /* Equals `960px` at `14px` font size. */
}

.demo-header {
	width: 100%;
	position: relative;
}

.demo-header,
.demo-menu,
.demo-console-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.demo-menu > .oo-ui-widget {
	display: inline-block;
	vertical-align: middle;
	margin-right: 16px;
	margin-bottom: 16px;
}

.demo-menu > .demo-menuLink-docs {
	margin-right: 8px;
}

.demo-menu > .demo-menuToggle {
	position: absolute;
	top: 12px;
	right: 16px;
	left: auto;
	margin: 0;
}

.demo-pageSelect {
	clear: both;
	/* Keep tabs slightly intended (16px -12px) to align with heading on mobile. */
	margin: 0 -12px;
	border-width: 1px 0 0 0;
}

.demo-pageSelect .oo-ui-tabOptionWidget {
	margin-top: 0;
}

.demo-pageSelect a {
	color: inherit;
	text-decoration: inherit;
}

.demo-container {
	/* Needed for applying `padding` further below */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.demo-container.oo-ui-panelLayout-padded.oo-ui-panelLayout-framed {
	margin: 0;
}

.demo-linked-fieldset .oo-ui-labelElement-label {
	text-decoration: inherit;
	color: inherit;
}

.demo-linked-field .oo-ui-fieldLayout-header {
	position: relative;
}

.demo-linked-field-anchor,
.demo-linked-fieldset-anchor {
	display: block;
	position: absolute;
	/* Put underneath sticky menu */
	top: -10em;
	left: 0;
}

.demo-header-mobile ~ * .demo-linked-fieldset-anchor {
	top: -6.5em;
}

.demo-header + .demo-container.oo-ui-panelLayout.demo-toolbars {
	padding-top: 1em;
}

/* Console */
/* stylelint-disable selector-pseudo-element-colon-notation */
.demo-console {
	clear: both;
	position: relative;
	margin-bottom: -2px;
	line-height: 1.4;
	/* @noflip */
	direction: ltr;
}

.demo-console-expanded {
	background-color: #fff;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 8px 0;
}

.demo-link-example,
.demo-console-toggle {
	float: right;
	margin-top: -2.5em;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 6px; /* Equals frameless button. */
	line-height: 1.28571429em;
	cursor: pointer;
	-webkit-transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
	-moz-transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
	transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
}

.demo-link-example:focus,
.demo-console-toggle:focus {
	border-color: #36c;
	box-shadow: inset 0 0 0 1px #36c;
	outline: 0;
}

.demo-link-example::after,
.demo-console-toggle::after {
	color: #36c;
	display: inline-block;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	text-align: center;
	-webkit-transition: color 100ms;
	-moz-transition: color 100ms;
	transition: color 100ms;
}

.demo-link-example:hover::after,
.demo-console-toggle:hover::after,
.demo-console-label:hover::before {
	color: #447ff5;
}

.demo-link-example {
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: 2em;
	opacity: 0;
	-webkit-transition: opacity 100ms;
	-moz-transition: opacity 100ms;
	transition: opacity 100ms;
}

.demo-link-example:focus,
.oo-ui-fieldLayout:hover > .demo-link-example {
	opacity: 1;
}

.demo-link-example::after {
	content: '#';
}

.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-link-example {
	right: 7.2em;
	left: 0;
	opacity: 1;
}

.demo-container > .oo-ui-fieldsetLayout:first-child .oo-ui-fieldLayout:first-child .demo-link-example::after {
	content: 'Link to this example #';
}

.demo-console-toggle {
	display: block;
}

.demo-console-expanded .demo-console-toggle {
	margin-top: -3em;
}

.demo-console-toggle::after {
	content: '↓';
}

.demo-console-expanded .demo-console-toggle::after {
	content: '↑';
}

.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-console-toggle::after {
	content: 'Show code ↓';
}

.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-console-expanded .demo-console-toggle::after {
	content: 'Hide code ↑';
}

.demo-console-collapsed .demo-sample-code,
.demo-console-collapsed .demo-console-log,
.demo-console-collapsed .demo-console-label,
.demo-console-collapsed .demo-console-submit {
	display: none;
}

/* @noflip */
.demo-console-log:not( :empty ) {
	max-height: 5em;
	border: 1px solid #a2a9b1;
	border-width: 1px 1px 0 1px;
	padding: 8px 4px;
	overflow: auto;
}

/* @noflip */
.demo-console-log-line {
	position: relative;
	padding-left: 20px;
}

.demo-console-log-line-input {
	font-style: italic;
	color: #54595d;
}

/* @noflip */
.demo-console-log-line-input::before {
	content: '→';
	display: block;
	position: absolute;
	min-width: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	text-align: center;
}

.demo-console-log-line-error {
	color: #d33;
}

/* @noflip */
.demo-console-label {
	position: relative;
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

/* @noflip */
.demo-console-label::before {
	content: '→';
	color: #36c;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	min-width: 1.714em; /* Equals to `24px`, needed for user scalability. */
	line-height: 2.14285714em;
	text-align: center;
}

.demo-console-input {
	width: 100%;
	margin: 0;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px transparent;
	padding: 6px 2.14285714em 6px 1.714em; /* Left and right are covered by user font size scalable icons. */
	font-size: inherit;
	line-height: 1.28571429em;
	-webkit-transition: border-color 250ms, box-shadow 250ms;
	-moz-transition: border-color 250ms, box-shadow 250ms;
	transition: border-color 250ms, box-shadow 250ms;
}

.demo-console-input:focus {
	border-color: #36c;
	box-shadow: inset 0 0 0 1px #36c;
	outline: 0;
}

.demo-console-submit {
	background: #f8f9fa;
	color: #222;
	display: inline-block;
	position: absolute;
	min-width: 28px;
	bottom: 2px;
	right: 2px;
	line-height: 30px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-transition: background-color 100ms, color 100ms;
	-moz-transition: background-color 100ms, color 100ms;
	transition: background-color 100ms, color 100ms;
}

.demo-console-submit:hover {
	background: #fff;
	color: #444;
}

.demo-sample-code {
	/* Need to override Prism (syntax highlighter) styles */
	background-color: #eaecf0;
	margin: 0 !important; /* stylelint-disable-line declaration-no-important */
}

/* Dialogs demo */
.demo-dialogs .oo-ui-fieldLayout .oo-ui-buttonWidget {
	max-width: 90vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Toolbars demo */

.demo-container.demo-toolbars {
	padding: 0;
}

.demo-toolbar + .demo-toolbar {
	margin-top: 4em;
}

.demo-toolbars-contents {
	padding: 2em;
	min-height: 100px;
}

/*
 * VisualEditor FormatTool styles.
 *
 * @copyright 2011-2019 VisualEditor Team and others; see http://ve.mit-license.org
 */

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-paragraph .oo-ui-tool-title {
	font-weight: normal;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading1 .oo-ui-tool-title {
	font-size: 190%;
	font-weight: normal;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading2 .oo-ui-tool-title {
	font-size: 150%;
	font-weight: normal;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading3 .oo-ui-tool-title {
	font-size: 130%;
	font-weight: bold;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading4 .oo-ui-tool-title {
	font-size: 115%;
	font-weight: bold;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading5 .oo-ui-tool-title {
	font-size: 100%;
	font-weight: bold;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading6 .oo-ui-tool-title {
	font-size: 80%;
	font-weight: bold;
}

.oo-ui-theme-apex .oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading1 .oo-ui-tool-title,
.oo-ui-theme-apex .oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading2 .oo-ui-tool-title,
.oo-ui-theme-apex .oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading3 .oo-ui-tool-title,
.oo-ui-theme-apex .oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading4 .oo-ui-tool-title,
.oo-ui-theme-apex .oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading5 .oo-ui-tool-title,
.oo-ui-theme-apex .oo-ui-menuToolGroup-tools .oo-ui-tool-name-heading6 .oo-ui-tool-title {
	/* Use px so padding is not changed by font size. This is normally 8px. */
	padding-left: 6.4px;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-preformatted .oo-ui-tool-title {
	/* Support: Blink, Gecko, Webkit */
	/* Specify a valid second value to fix size, see T176636 */
	font-family: monospace, monospace;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-blockquote .oo-ui-tool-title {
	/* Indent in addition to padding */
	text-indent: 1.5em;
}

.oo-ui-menuToolGroup-tools .oo-ui-tool-name-tableCellHeader .oo-ui-tool-title {
	font-weight: bold;
}

/* Icons demo */

.demo-icons .oo-ui-buttonSelectWidget {
	margin-bottom: 24px;
}

.demo-icons .oo-ui-fieldLayout {
	display: inline-block;
	margin: 8px 8px 8px 0;
	width: 12.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.demo-icons .oo-ui-fieldsetLayout-group {
	margin-right: -16px;
}

.demo-icons .oo-ui-fieldLayout .oo-ui-iconElement:not( .oo-ui-image-progressive ):not( .oo-ui-image-destructive ),
.demo-icons .oo-ui-fieldLayout .oo-ui-indicatorElement {
	opacity: 0.87; /* brings icons/indicators closer to text color */
	/* Support Chrome by promoting layer to GPU, see T182257 */
	-webkit-transform: translateZ( 0 );
	transform: translateZ( 0 );
}

.demo-icons .oo-ui-fieldLayout:hover .oo-ui-labelElement-label {
	color: #000;
}

.demo-icons .oo-ui-fieldLayout:hover .oo-ui-iconElement,
.demo-icons .oo-ui-fieldLayout:hover .oo-ui-indicatorElement {
	opacity: 1 !important; /* stylelint-disable-line declaration-no-important */
}

/* Widgets demo */

.oo-ui-horizontalLayout > .oo-ui-textInputWidget,
.oo-ui-horizontalLayout > .oo-ui-dropdownInputWidget {
	max-width: 10em;
}

.demo-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

/*
 * Left-to-right labels by default, as they're never translated and parentheses are causing
 * rendering quirks
 */
.oo-ui-labelElement .oo-ui-labelElement-label {
	/* @noflip */
	direction: ltr;
	/* Necessary for inline elements */
	unicode-bidi: bidi-override;
}

/*
 * Support IE 10, 11, Edge 15 & 16: ButtonWidgets with empty labels are oversized
 * Note, that this does not affect widgets with `invisibleLabel` set.
 */
.oo-ui-buttonElement-button > .oo-ui-labelElement-label:empty {
	unicode-bidi: normal;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-inline-help,
.oo-ui-checkboxMultioptionWidget.oo-ui-labelElement .oo-ui-labelElement-label,
.oo-ui-radioOptionWidget .oo-ui-radioInputWidget,
.oo-ui-radioOptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label,
.oo-ui-selectFileWidget.oo-ui-labelElement .oo-ui-selectFileWidget-label {
	text-align: left;
}

/* Special cases: ActionFieldLayout top aligned,
FieldLayout left & right aligned */
.oo-ui-fieldLayout-align-left,
.oo-ui-fieldLayout-align-right,
.oo-ui-fieldLayout-body .oo-ui-inline-help {
	max-width: 50em;
}

.oo-ui-fieldLayout-align-top.oo-ui-actionFieldLayout .demo-link-example,
.oo-ui-fieldLayout-align-top.oo-ui-actionFieldLayout .demo-console-toggle,
.oo-ui-fieldLayout-align-left .demo-link-example,
.oo-ui-fieldLayout-align-left .demo-console-toggle,
.oo-ui-fieldLayout-align-right .demo-link-example,
.oo-ui-fieldLayout-align-right .demo-console-toggle {
	margin-right: -2em;
}

.oo-ui-fieldLayout-body:after {
	content: ' ';
	clear: both;
	display: block;
}

/* Special case: FieldsetLayout with "Summary" */
.oo-ui-formLayout .oo-ui-fieldsetLayout:last-child {
	background-color: #eaecf0;
	border: 1px solid #c8ccd1;
	padding: 16px 16px 24px 16px;
}

/* Special case: TagMultiselectWidget & NumberInputWidget combo */
.oo-ui-tagMultiselectWidget-outlined .oo-ui-numberInputWidget-buttoned .oo-ui-buttonElement-button {
	border-radius: 0;
}

/* Ensure color contrast in accessibility testing */
.demo-summary-buttonElement.oo-ui-flaggedElement-destructive.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	color: #cd2323;
}

/* Special case: MessageWidget in full-width to receive `max-width`. */
.oo-ui-messageWidget {
	max-width: 50em;
}

/*
 * Support: iOS 9.2, Android 4.4.4, Op Mobile 37, Chrome/Android 57, Fx/Android 52, UC Browser 11.4, Baidu 7.12
 * Workaround for weak ancient mobile browser support of `fixed` positioning
 */
@supports ( position: fixed ) {
	.demo-header {
		background-color: #fff;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		min-height: 9.214em;
		padding-top: 8px;
		padding-left: 16px;
		box-shadow: 0 4px 4px -4px rgba( 0, 0, 0, 0.25 );
		z-index: 5;
	}

	.demo-header + .demo-container.oo-ui-panelLayout {
		/* `min-height` - `border-bottom` */
		margin-top: 9.214em;
	}

	.demo-header-mobile {
		min-height: 5.833em;
	}

	.demo-header-mobile + .demo-container.oo-ui-panelLayout {
		margin-top: 5.833em;
	}

	/* This needs extra specificity to beat PanelLayout styles */
	.demo-container.oo-ui-panelLayout {
		/* Apex overrides. WikimediaUI wins for now in the demo framing in this browser subset */
		border-color: #a2a9b1;
		/* PanelLayout doesn't have rounded borders with menu overlay ever,
		   therefore removing top radius */
		border-radius: 0 0 2px 2px;
		box-shadow: none;
		border-width: 0;
	}

	.oo-ui-windowManager-modal > .oo-ui-dialog,
	.oo-ui-processDialog-errors,
	.oo-ui-defaultOverlay {
		z-index: 6;
	}
}

/* Media Queries */
@media ( min-width: 320px ) {
	.oo-ui-theme-wikimediaui,
	.oo-ui-theme-apex {
		font-size: 1em;
	}

	/* Hide from all but screen readers */
	.demo-header h2 span {
		clip: rect( 1px, 1px, 1px, 1px );
		clip-path: inset( 50% );
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		overflow: hidden;
	}

	.demo-menu > .oo-ui-widget {
		margin-bottom: 16px;
	}

	.demo-container {
		border-radius: 0;
		border-width: 0;
		padding: 24px 0 0;
	}

	.demo-container.demo-toolbars {
		border-width: 1px;
	}

	.demo-link-example,
	.demo-console-toggle {
		display: block;
		margin-right: -6px;
	}

	.demo-link-example {
		display: none;
	}

	.demo-console-toggle::after {
		font-size: 1.25em;
	}

	.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-link-example,
	.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-console-toggle {
		margin-top: 0;
	}
}

/* @media ( min-width: 568px ) {} */

@media ( min-width: 768px ) {
	.demo-link-example,
	.demo-console-toggle {
		display: inline-block;
	}

	.demo-link-example {
		margin-right: 2.286em; /* Equals to `32px`. */
	}

	.demo-console-toggle::after {
		font-size: 1em;
	}

	.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-link-example {
		margin-right: 0;
	}
}

@media ( min-width: 960px ) {
	.oo-ui-theme-wikimediaui {
		font-size: 0.875em;
	}

	.oo-ui-theme-apex {
		font-size: 0.8em;
	}

	.demo-header {
		left: auto;
		right: auto;
		padding-left: 0;
		white-space: nowrap;
	}

	@supports ( position: fixed ) {
		.demo-header {
			width: calc( 100% - 2em );
		}
	}

	.demo-pageSelect {
		margin: 0;
		border-width: 1px 1px 0 1px;
	}

	/* Make it visible for all browsers again */
	.demo-header h2 span {
		clip: auto;
		clip-path: none;
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		overflow: visible;
	}

	.demo-container {
		border-radius: 2px;
		padding: 24px;
	}

	.demo-container.oo-ui-panelLayout {
		border-width: 0 1px 1px 1px;
	}

	.demo-link-example,
	.demo-console-toggle,
	.demo-console-expanded .demo-console-toggle {
		margin-right: -6px; /* Equals to toggle `padding` */
	}

	.demo-link-example {
		margin-right: 1.5em;
	}

	.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-link-example,
	.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-console-toggle {
		margin-top: -2.5em;
	}

	.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-link-example {
		margin-right: 7.9em;
	}

	.demo-console-expanded {
		width: 100%;
	}

	.oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:first-child .demo-console-expanded .demo-console-toggle {
		margin-top: -3em;
	}
}
/* stylelint-enable selector-pseudo-element-colon-notation */
