body.oo-ui-theme-fandom {
  background-color: #f2f5f5;
  color: #3a3a3a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body.oo-ui-theme-fandom .demo-header {
  background-color: #f2f5f5;
}
body.oo-ui-theme-fandom h1,
body.oo-ui-theme-fandom h2,
body.oo-ui-theme-fandom h2 span {
  color: inherit;
}
.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:focus {
  color: rgba(58, 58, 58, 0.8);
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus {
  color: rgba(58, 58, 58, 0.8);
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  color: #e34964;
}
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus {
  color: #f1a1af;
}
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-buttonElement-pressed > input.oo-ui-buttonElement-button,
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active {
  border-color: currentColor;
}
.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button:focus {
  color: rgba(58, 58, 58, 0.8);
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  color: #3a3a3a;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus {
  color: rgba(58, 58, 58, 0.8);
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  color: #e34964;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus {
  color: #f1a1af;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  background-color: #088488;
  border-color: #088488;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active {
  background-color: #0ee1e8;
  border-color: #0ee1e8;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  background-color: #e34964;
  border-color: #e34964;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active {
  background-color: #f1a1af;
  border-color: #f1a1af;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
  background-color: #088488;
  border-color: #088488;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:active {
  background-color: #088488;
  border-color: #088488;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  background-color: #088488;
  border-color: #088488;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active {
  background-color: #088488;
  border-color: #088488;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
  background-color: #e34964;
  border-color: #e34964;
  color: #fff;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:focus,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button:active {
  background-color: #e34964;
  border-color: #e34964;
}
.oo-ui-pendingElement-pending {
  background-color: rgba(8, 132, 136, 0.8);
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
}
.oo-ui-panelLayout-framed {
  border-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-messageDialog-content > .oo-ui-window-foot {
  outline-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-messageDialog-actions-vertical .oo-ui-actionWidget {
  border-bottom-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-processDialog-content .oo-ui-window-head,
.oo-ui-processDialog-content .oo-ui-window-foot {
  outline-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-processDialog .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:hover,
.oo-ui-processDialog .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:focus,
.oo-ui-processDialog .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:active {
  border-right-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget > .oo-ui-buttonElement-button {
  border-left-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:hover,
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:focus,
.oo-ui-processDialog-actions-primary .oo-ui-actionWidget:not(.oo-ui-flaggedElement-progressive):not(.oo-ui-flaggedElement-destructive) > .oo-ui-buttonElement-button:active {
  border-left-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-processDialog-actions-safe .oo-ui-actionWidget > .oo-ui-buttonElement-button,
.oo-ui-processDialog-actions-other .oo-ui-actionWidget > .oo-ui-buttonElement-button {
  border-right-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:hover,
.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:active,
.oo-ui-processDialog-actions-safe .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:focus {
  background-color: rgba(58, 58, 58, 0.15);
}
.oo-ui-processDialog-errors {
  background-color: #fff;
}
.oo-ui-processDialog-error {
  background-color: rgba(227, 73, 100, 0.1);
  border-color: #e34964;
}
.oo-ui-windowManager-modal > .oo-ui-dialog {
  background-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-windowManager-modal > .oo-ui-dialog > .oo-ui-window-frame {
  background-color: #fff;
}
.oo-ui-toolbar-bar {
  background-color: #f2f5f5;
  border-color: #5f7a7b;
  color: #0e191a;
}
.oo-ui-tool .oo-ui-tool-link:hover,
.oo-ui-tool .oo-ui-tool-link:focus {
  background-color: rgba(14, 25, 26, 0.1);
}
.oo-ui-tool .oo-ui-tool-link:active,
.oo-ui-tool .oo-ui-tool-link:active:hover {
  background-color: rgba(255, 119, 109, 0.1);
  color: #ff776d;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link {
  color: #ff776d;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive .oo-ui-tool-link:focus {
  color: #ffd6d3;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link {
  color: #e34964;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive .oo-ui-tool-link:focus {
  color: #f1a1af;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link {
  background-color: #ff776d;
  border-color: #ff776d;
  color: #fff;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive .oo-ui-tool-link:focus {
  background-color: #ffd6d3;
  border-color: #ffd6d3;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link {
  background-color: #e34964;
  border-color: #e34964;
  color: #fff;
}
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link:hover,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link:active,
.oo-ui-tool.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-destructive .oo-ui-tool-link:focus {
  background-color: #f1a1af;
  border-color: #f1a1af;
}
.oo-ui-toolGroup {
  border-right-color: #5f7a7b;
}
.oo-ui-toolbar-actions .oo-ui-toolGroup {
  border-left-color: #5f7a7b;
}
.oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-enabled:hover .oo-ui-tool-link {
  background-color: rgba(14, 25, 26, 0.1);
}
.oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-enabled.oo-ui-tool-active .oo-ui-tool-link {
  background-color: rgba(255, 119, 109, 0.1);
  color: #ff776d;
}
.oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-enabled.oo-ui-tool-active .oo-ui-tool-link .oo-ui-tool-accel {
  color: currentColor;
}
.oo-ui-popupToolGroup-header {
  color: #7f9998;
}
.oo-ui-popupToolGroup-tools {
  background-color: #fff;
  box-shadow: 0 3px 12px 0 rgba(14, 25, 26, 0.3);
}
.oo-ui-popupToolGroup-tools .oo-ui-tool-link .oo-ui-tool-accel {
  color: #7f9998;
}
.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:hover,
.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle:focus {
  background-color: rgba(14, 25, 26, 0.1);
}
.oo-ui-popupToolGroup.oo-ui-popupToolGroup-active > .oo-ui-popupToolGroup-handle,
.oo-ui-popupToolGroup.oo-ui-popupToolGroup-active > .oo-ui-popupToolGroup-handle:hover {
  background-color: rgba(255, 119, 109, 0.1);
  color: #ff776d;
}
.oo-ui-buttonGroupWidget .oo-ui-buttonElement-framed.oo-ui-widget-disabled + .oo-ui-widget-disabled > .oo-ui-buttonElement-button {
  border-left-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-toggleWidget-on + .oo-ui-toggleWidget-on > .oo-ui-buttonElement-button,
.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-toggleWidget-on + .oo-ui-toggleWidget-on > .oo-ui-buttonElement-button:active {
  border-left-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-buttonSelectWidget .oo-ui-buttonOptionWidget.oo-ui-widget-disabled + .oo-ui-widget-disabled > .oo-ui-buttonElement-button {
  border-left-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-checkboxInputWidget {
  color: #ff776d;
}
.oo-ui-checkboxInputWidget [type='checkbox'] + span,
.oo-ui-checkboxInputWidget [type='checkbox']:indeterminate + span::before,
.oo-ui-checkboxInputWidget [type='checkbox']:disabled + span,
.oo-ui-checkboxInputWidget [type='checkbox']:checked:disabled + span,
.oo-ui-checkboxInputWidget [type='checkbox']:checked:disabled + span::before {
  border-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:focus + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:hover + span {
  border-color: currentColor;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:active + span {
  background-color: currentColor;
  border-color: currentColor;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:focus + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:focus + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:active + span,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:active + span {
  border-color: currentColor;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:focus + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:focus + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked:active + span::before,
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate:active + span::before {
  border-color: currentColor;
}
.oo-ui-dropdownWidget-handle {
  background-color: rgba(58, 58, 58, 0.15);
  border-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:hover,
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:focus,
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:active {
  border-color: #ff776d;
}
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:active {
  box-shadow: inset 0 0 0 1px #ff776d;
}
.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,
.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
  background-color: rgba(255, 119, 109, 0.1);
  color: #ff776d;
}
.oo-ui-menuSelectWidget {
  background-color: #fff;
  border: rgba(58, 58, 58, 0.5);
  box-shadow: 0 3px 12px 0 rgba(14, 25, 26, 0.3);
}
.oo-ui-outlineControlsWidget {
  background-color: #fff;
}
.oo-ui-outlineOptionWidget.oo-ui-optionWidget-highlighted,
.oo-ui-outlineOptionWidget.oo-ui-optionWidget-selected,
.oo-ui-outlineOptionWidget.oo-ui-optionWidget-pressed {
  background-color: rgba(255, 119, 109, 0.1);
  color: #ff776d;
}
.oo-ui-popupWidget-popup {
  background-color: #fff;
  border: rgba(58, 58, 58, 0.5);
  color: #3a3a3a;
  filter: drop-shadow(0 2px 1px rgba(14, 25, 26, 0.3));
}
.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::before,
.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::after {
  border-bottom-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor::before,
.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor::after {
  border-top-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor::before,
.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor::after {
  border-right-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor::before,
.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor::after {
  border-left-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-progressBarWidget {
  background-color: rgba(58, 58, 58, 0.15);
  border-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-progressBarWidget.oo-ui-widget-enabled .oo-ui-progressBarWidget-bar {
  background-color: #088488;
}
.oo-ui-progressBarWidget.oo-ui-widget-disabled .oo-ui-progressBarWidget-bar {
  background-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-radioInputWidget [type='radio'] + span,
.oo-ui-radioInputWidget [type='radio']:disabled + span,
.oo-ui-radioInputWidget [type='radio']:checked:disabled + span {
  color: rgba(58, 58, 58, 0.5);
}
.oo-ui-radioInputWidget [type='radio'] + span::before,
.oo-ui-radioInputWidget [type='radio']:disabled + span::before,
.oo-ui-radioInputWidget [type='radio']:checked:disabled + span::before {
  background-color: currentColor;
}
.oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:hover + span,
.oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:checked + span {
  color: #ff776d;
}
.oo-ui-selectFileWidget-dropTarget {
  background-color: rgba(58, 58, 58, 0.15);
  border-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-selectFileWidget.oo-ui-widget-enabled.oo-ui-selectFileWidget-dropTarget:hover {
  border-color: #088488;
}
.oo-ui-selectFileWidget.oo-ui-widget-enabled.oo-ui-selectFileWidget-canDrop.oo-ui-selectFileWidget-dropTarget,
.oo-ui-selectFileWidget.oo-ui-widget-enabled.oo-ui-selectFileWidget-canDrop .oo-ui-selectFileInputWidget-info > .oo-ui-inputWidget-input {
  background-color: rgba(8, 132, 136, 0.1);
  color: #088488;
}
.oo-ui-tabSelectWidget-framed {
  background-color: transparent;
  border-bottom-color: #ff776d;
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget {
  background-color: rgba(58, 58, 58, 0.15);
  color: #3a3a3a;
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
  background-color: #ff776d;
  color: #fff;
}
.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-widget-enabled:not(.oo-ui-optionWidget-selected):hover {
  color: #ff776d;
}
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget {
  border-bottom-color: #c2c4c4;
}
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected,
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-widget-enabled:active,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget.oo-ui-widget-enabled:active {
  box-shadow: inset 0 -2px 0 0 #ff776d;
  color: #ff776d;
}
.oo-ui-tabSelectWidget-frameless .oo-ui-tabOptionWidget.oo-ui-widget-enabled:hover,
.oo-ui-tabSelectWidget:not(.oo-ui-tabSelectWidget-framed) .oo-ui-tabOptionWidget.oo-ui-widget-enabled:hover {
  color: #ff776d;
}
.oo-ui-tagItemWidget {
  color: #3a3a3a;
}
.oo-ui-tagItemWidget .oo-ui-buttonElement-button {
  color: inherit;
}
.oo-ui-tagItemWidget .oo-ui-buttonElement-button:hover {
  color: #ff776d;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled {
  background-color: transparent;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled:hover,
.oo-ui-tagItemWidget.oo-ui-widget-enabled:focus {
  background-color: rgba(255, 119, 109, 0.1);
  border-color: currentColor;
  color: #ff776d;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled:hover .oo-ui-buttonElement-button,
.oo-ui-tagItemWidget.oo-ui-widget-enabled:focus .oo-ui-buttonElement-button {
  color: #ff776d;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid {
  background-color: rgba(227, 73, 100, 0.1);
  color: #e34964;
}
.oo-ui-tagItemWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid:hover,
.oo-ui-tagItemWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid:focus {
  color: #f1a1af;
}
.oo-ui-tagMultiselectWidget-handle {
  border-color: rgba(58, 58, 58, 0.5);
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle {
  background-color: rgba(58, 58, 58, 0.15);
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined:hover .oo-ui-tagMultiselectWidget-handle {
  border-color: #ff776d;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined.oo-ui-tagMultiselectWidget-focus .oo-ui-tagMultiselectWidget-handle {
  border-color: #ff776d;
  box-shadow: inset 0 0 0 1px #ff776d;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined.oo-ui-flaggedElement-invalid .oo-ui-tagMultiselectWidget-handle,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-inlined.oo-ui-flaggedElement-invalid:hover .oo-ui-tagMultiselectWidget-handle {
  border-color: #e34964;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined .oo-ui-tagMultiselectWidget-handle {
  background-color: rgba(58, 58, 58, 0.15);
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input {
  border-color: #e34964;
}
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input {
  color: #e34964;
}
.oo-ui-tagMultiselectWidget .oo-ui-inputWidget-input {
  color: inherit;
}
.oo-ui-toggleSwitchWidget {
  background-color: #7f9998;
}
.oo-ui-toggleSwitchWidget-grip {
  background-color: #f2f5f5;
}
.oo-ui-toggleSwitchWidget.oo-ui-toggleWidget-on {
  background-color: #f8dcda;
}
.oo-ui-toggleSwitchWidget.oo-ui-toggleWidget-on .oo-ui-toggleSwitchWidget-grip {
  background-color: #ff776d;
}
.oo-ui-textInputWidget .oo-ui-inputWidget-input {
  background-color: transparent;
  border-color: rgba(58, 58, 58, 0.5);
  color: #3a3a3a;
}
.oo-ui-textInputWidget .oo-ui-pendingElement-pending {
  background-color: rgba(255, 119, 109, 0.1);
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
  box-shadow: inset 0 0 0 1px transparent;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:hover,
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
  border-color: #ff776d;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
  box-shadow: inset 0 0 0 1px #ff776d;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input[readonly] {
  background-color: rgba(58, 58, 58, 0.1);
}
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input {
  border-color: #e34964;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input:hover,
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input:focus {
  border-color: #e34964;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input:focus {
  box-shadow: inset 0 0 0 1px #e34964;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block {
  box-shadow: 0 2px 6px 0 rgba(14, 25, 26, 0.2);
}
.oo-ui-messageWidget.oo-ui-messageWidget-block > .oo-ui-iconElement-icon {
  color: #fff;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block > .oo-ui-labelElement-label {
  background-color: #fff;
  color: #666;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-error {
  background-color: #e34964;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-warning {
  background-color: #dc7c5b;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-success {
  background-color: #369e59;
}
.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-notice {
  background-color: #359ea0;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-error {
  color: #e34964;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-warning {
  color: #dc7c5b;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-success {
  color: #369e59;
}
.oo-ui-messageWidget:not(.oo-ui-messageWidget-block).oo-ui-flaggedElement-notice {
  color: #359ea0;
}
